.my-bg-primary-950 {
    background-color: #0B2846!important;
}

.my-bg-primary-900 {
    background-color: #10406A!important;
}

.my-bg-primary-800 {
    background-color: #0C4B80!important;
}

.my-bg-primary-700 {
    background-color: #0A599A!important;
}

.my-bg-primary-600 {
    background-color: #0A6FBF!important;
}

.my-bg-primary-500 {
    background-color: #178DE0!important;
}

.my-bg-primary-400 {
    background-color: #4FAFF1!important;
}

.my-bg-primary-300 {
    background-color: #82C5F7!important;
}

.my-bg-primary-200 {
    background-color: #BDDFFA!important;
}

.my-bg-primary-100 {
    background-color: #E1EFFD!important;
}

.my-bg-primary-50 {
    background-color: #F1F8FE!important;
}

.my-bg-secondary-950 {
    background-color: #1D1F25!important;
}

.my-bg-secondary-900 {
    background-color: #363A44!important;
}

.my-bg-secondary-800 {
    background-color: #3C4250!important;
}

.my-bg-secondary-700 {
    background-color: #464D5E!important;
}

.my-bg-secondary-600 {
    background-color: #565F73!important;
}

.my-bg-secondary-500 {
    background-color: #6B768C!important;
}

.my-bg-secondary-400 {
    background-color: #8993A7!important;
}

.my-bg-secondary-300 {
    background-color: #B3B9C6!important;
}

.my-bg-secondary-200 {
    background-color: #D6D9E1!important;
}

.my-bg-secondary-100 {
    background-color: #EDEEF1!important;
}

.my-bg-secondary-50 {
    background-color: #F6F7F9!important;
}

.my-bg-grey-950 {
    background-color: #262626!important;
}

.my-bg-grey-900 {
    background-color: #313131!important;
}

.my-bg-grey-800 {
    background-color: #383838!important;
}

.my-bg-grey-700 {
    background-color: #434343!important;
}

.my-bg-grey-600 {
    background-color: #515151!important;
}

.my-bg-grey-500 {
    background-color: #666666!important;
}

.my-bg-grey-400 {
    background-color: #818181!important;
}

.my-bg-grey-300 {
    background-color: #A4A4A4!important;
}

.my-bg-grey-200 {
    background-color: #C8C8C8!important;
}

.my-bg-grey-100 {
    background-color: #E3E3E3!important;
}

.my-bg-grey-50 {
    background-color: #F7F7F7!important;
}

.my-bg-grey-0 {
    background-color: #FFFFFF!important;
}

.my-bg-success-950 {
    background-color: #0B2B08!important;
}

.my-bg-success-900 {
    background-color: #1F4E19!important;
}

.my-bg-success-800 {
    background-color: #255F1C!important;
}

.my-bg-success-700 {
    background-color: #29781D!important;
}

.my-bg-success-600 {
    background-color: #309920!important;
}

.my-bg-success-500 {
    background-color: #47CB32!important;
}

.my-bg-success-400 {
    background-color: #67D355!important;
}

.my-bg-success-300 {
    background-color: #9BE78E!important;
}

.my-bg-success-200 {
    background-color: #C7F3BF!important;
}

.my-bg-success-100 {
    background-color: #E2FADE!important;
}

.my-bg-success-50 {
    background-color: #F4FCF1!important;
}

.my-bg-errorNote-950 {
    background-color: #481007!important;
}

.my-bg-errorNote-900 {
    background-color: #842718!important;
}

.my-bg-errorNote-800 {
    background-color: #A02714!important;
}

.my-bg-errorNote-700 {
    background-color: #C12C14!important;
}

.my-bg-errorNote-600 {
    background-color: #E5381D!important;
}

.my-bg-errorNote-500 {
    background-color: #F8553B!important;
}

.my-bg-errorNote-400 {
    background-color: #FF735D!important;
}

.my-bg-errorNote-300 {
    background-color: #FFADA0!important;
}

.my-bg-errorNote-200 {
    background-color: #FFCFC7!important;
}

.my-bg-errorNote-100 {
    background-color: #FFE5E1!important;
}

.my-bg-errorNote-50 {
    background-color: #FFF3F1!important;
}
.my-bg-transparent {
    background-color: transparent!important;
}
.my-text-primary-950 {
    color: #0B2846!important;
}

.my-text-primary-900 {
    color: #10406A!important;
}

.my-text-primary-800 {
    color: #0C4B80!important;
}

.my-text-primary-700 {
    color: #0A599A!important;
}

.my-text-primary-600 {
    color: #0A6FBF!important;
}

.my-text-primary-500 {
    color: #178DE0!important;
}

.my-text-primary-400 {
    color: #4FAFF1!important;
}

.my-text-primary-300 {
    color: #82C5F7!important;
}

.my-text-primary-200 {
    color: #BDDFFA!important;
}

.my-text-primary-100 {
    color: #E1EFFD!important;
}

.my-text-primary-50 {
    color: #F1F8FE!important;
}

.my-text-secondary-950 {
    color: #1D1F25!important;
}

.my-text-secondary-900 {
    color: #363A44!important;
}

.my-text-secondary-800 {
    color: #3C4250!important;
}

.my-text-secondary-700 {
    color: #464D5E!important;
}

.my-text-secondary-600 {
    color: #565F73!important;
}

.my-text-secondary-500 {
    color: #6B768C!important;
}

.my-text-secondary-400 {
    color: #8993A7!important;
}

.my-text-secondary-300 {
    color: #B3B9C6!important;
}

.my-text-secondary-200 {
    color: #D6D9E1!important;
}

.my-text-secondary-100 {
    color: #EDEEF1!important;
}

.my-text-secondary-50 {
    color: #F6F7F9!important;
}

.my-text-grey-950 {
    color: #262626!important;
}

.my-text-grey-900 {
    color: #313131!important;
}

.my-text-grey-800 {
    color: #383838!important;
}

.my-text-grey-700 {
    color: #434343!important;
}

.my-text-grey-600 {
    color: #515151!important;
}

.my-text-grey-500 {
    color: #666666!important;
}

.my-text-grey-400 {
    color: #818181!important;
}

.my-text-grey-300 {
    color: #A4A4A4!important;
}

.my-text-grey-200 {
    color: #C8C8C8!important;
}

.my-text-grey-100 {
    color: #E3E3E3!important;
}

.my-text-grey-50 {
    color: #F7F7F7!important;
}

.my-text-grey-0 {
    color: #FFFFFF!important;
}

.my-text-success-950 {
    color: #0B2B08!important;
}

.my-text-success-900 {
    color: #1F4E19!important;
}

.my-text-success-800 {
    color: #255F1C!important;
}

.my-text-success-700 {
    color: #29781D!important;
}

.my-text-success-600 {
    color: #309920!important;
}

.my-text-success-500 {
    color: #47CB32!important;
}

.my-text-success-400 {
    color: #67D355!important;
}

.my-text-success-300 {
    color: #9BE78E!important;
}

.my-text-success-200 {
    color: #C7F3BF!important;
}

.my-text-success-100 {
    color: #E2FADE!important;
}

.my-text-success-50 {
    color: #F4FCF1!important;
}

.my-text-errorNote-950 {
    color: #481007!important;
}

.my-text-errorNote-900 {
    color: #842718!important;
}

.my-text-errorNote-800 {
    color: #A02714!important;
}

.my-text-errorNote-700 {
    color: #C12C14!important;
}

.my-text-errorNote-600 {
    color: #E5381D!important;
}

.my-text-errorNote-500 {
    color: #F8553B!important;
}

.my-text-errorNote-400 {
    color: #FF735D!important;
}

.my-text-errorNote-300 {
    color: #FFADA0!important;
}

.my-text-errorNote-200 {
    color: #FFCFC7!important;
}

.my-text-errorNote-100 {
    color: #FFE5E1!important;
}

.my-text-errorNote-50 {
    color: #FFF3F1!important;
}

@include web_768{
    .my-bg-primary-950-md {
        background-color: #0B2846!important;
    }
    
    .my-bg-primary-900-md {
        background-color: #10406A!important;
    }
    
    .my-bg-primary-800-md {
        background-color: #0C4B80!important;
    }
    
    .my-bg-primary-700-md {
        background-color: #0A599A!important;
    }
    
    .my-bg-primary-600-md {
        background-color: #0A6FBF!important;
    }
    
    .my-bg-primary-500-md {
        background-color: #178DE0!important;
    }
    
    .my-bg-primary-400-md {
        background-color: #4FAFF1!important;
    }
    
    .my-bg-primary-300-md {
        background-color: #82C5F7!important;
    }
    
    .my-bg-primary-200-md {
        background-color: #BDDFFA!important;
    }
    
    .my-bg-primary-100-md {
        background-color: #E1EFFD!important;
    }
    
    .my-bg-primary-50-md {
        background-color: #F1F8FE!important;
    }
    
    .my-bg-secondary-950-md {
        background-color: #1D1F25!important;
    }
    
    .my-bg-secondary-900-md {
        background-color: #363A44!important;
    }
    
    .my-bg-secondary-800-md {
        background-color: #3C4250!important;
    }
    
    .my-bg-secondary-700-md {
        background-color: #464D5E!important;
    }
    
    .my-bg-secondary-600-md {
        background-color: #565F73!important;
    }
    
    .my-bg-secondary-500-md {
        background-color: #6B768C!important;
    }
    
    .my-bg-secondary-400-md {
        background-color: #8993A7!important;
    }
    
    .my-bg-secondary-300-md {
        background-color: #B3B9C6!important;
    }
    
    .my-bg-secondary-200-md {
        background-color: #D6D9E1!important;
    }
    
    .my-bg-secondary-100-md {
        background-color: #EDEEF1!important;
    }
    
    .my-bg-secondary-50-md {
        background-color: #F6F7F9!important;
    }
    
    .my-bg-grey-950-md {
        background-color: #262626!important;
    }
    
    .my-bg-grey-900-md {
        background-color: #313131!important;
    }
    
    .my-bg-grey-800-md {
        background-color: #383838!important;
    }
    
    .my-bg-grey-700-md {
        background-color: #434343!important;
    }
    
    .my-bg-grey-600-md {
        background-color: #515151!important;
    }
    
    .my-bg-grey-500-md {
        background-color: #666666!important;
    }
    
    .my-bg-grey-400-md {
        background-color: #818181!important;
    }
    
    .my-bg-grey-300-md {
        background-color: #A4A4A4!important;
    }
    
    .my-bg-grey-200-md {
        background-color: #C8C8C8!important;
    }
    
    .my-bg-grey-100-md {
        background-color: #E3E3E3!important;
    }
    
    .my-bg-grey-50-md {
        background-color: #F7F7F7!important;
    }
    
    .my-bg-grey-0-md {
        background-color: #FFFFFF!important;
    }
    
    .my-bg-success-950-md {
        background-color: #0B2B08!important;
    }
    
    .my-bg-success-900-md {
        background-color: #1F4E19!important;
    }
    
    .my-bg-success-800-md {
        background-color: #255F1C!important;
    }
    
    .my-bg-success-700-md {
        background-color: #29781D!important;
    }
    
    .my-bg-success-600-md {
        background-color: #309920!important;
    }
    
    .my-bg-success-500-md {
        background-color: #47CB32!important;
    }
    
    .my-bg-success-400-md {
        background-color: #67D355!important;
    }
    
    .my-bg-success-300-md {
        background-color: #9BE78E!important;
    }
    
    .my-bg-success-200-md {
        background-color: #C7F3BF!important;
    }
    
    .my-bg-success-100-md {
        background-color: #E2FADE!important;
    }
    
    .my-bg-success-50-md {
        background-color: #F4FCF1!important;
    }
    
    .my-bg-errorNote-950-md {
        background-color: #481007!important;
    }
    
    .my-bg-errorNote-900-md {
        background-color: #842718!important;
    }
    
    .my-bg-errorNote-800-md {
        background-color: #A02714!important;
    }
    
    .my-bg-errorNote-700-md {
        background-color: #C12C14!important;
    }
    
    .my-bg-errorNote-600-md {
        background-color: #E5381D!important;
    }
    
    .my-bg-errorNote-500-md {
        background-color: #F8553B!important;
    }
    
    .my-bg-errorNote-400-md {
        background-color: #FF735D!important;
    }
    
    .my-bg-errorNote-300-md {
        background-color: #FFADA0!important;
    }
    
    .my-bg-errorNote-200-md {
        background-color: #FFCFC7!important;
    }
    
    .my-bg-errorNote-100-md {
        background-color: #FFE5E1!important;
    }
    
    .my-bg-errorNote-50-md {
        background-color: #FFF3F1!important;
    }
    
    .my-bg-transparent-md {
        background-color: transparent!important;
    }
    
    .my-text-primary-950-md {
        color: #0B2846!important;
    }
    
    .my-text-primary-900-md {
        color: #10406A!important;
    }
    
    .my-text-primary-800-md {
        color: #0C4B80!important;
    }
    
    .my-text-primary-700-md {
        color: #0A599A!important;
    }
    
    .my-text-primary-600-md {
        color: #0A6FBF!important;
    }
    
    .my-text-primary-500-md {
        color: #178DE0!important;
    }
    
    .my-text-primary-400-md {
        color: #4FAFF1!important;
    }
    
    .my-text-primary-300-md {
        color: #82C5F7!important;
    }
    
    .my-text-primary-200-md {
        color: #BDDFFA!important;
    }
    
    .my-text-primary-100-md {
        color: #E1EFFD!important;
    }
    
    .my-text-primary-50-md {
        color: #F1F8FE!important;
    }
    
    .my-text-secondary-950-md {
        color: #1D1F25!important;
    }
    
    .my-text-secondary-900-md {
        color: #363A44!important;
    }
    
    .my-text-secondary-800-md {
        color: #3C4250!important;
    }
    
    .my-text-secondary-700-md {
        color: #464D5E!important;
    }
    
    .my-text-secondary-600-md {
        color: #565F73!important;
    }
    
    .my-text-secondary-500-md {
        color: #6B768C!important;
    }
    
    .my-text-secondary-400-md {
        color: #8993A7!important;
    }
    
    .my-text-secondary-300-md {
        color: #B3B9C6!important;
    }
    
    .my-text-secondary-200-md {
        color: #D6D9E1!important;
    }
    
    .my-text-secondary-100-md {
        color: #EDEEF1!important;
    }
    
    .my-text-secondary-50-md {
        color: #F6F7F9!important;
    }
    
    .my-text-grey-950-md {
        color: #262626!important;
    }
    
    .my-text-grey-900-md {
        color: #313131!important;
    }
    
    .my-text-grey-800-md {
        color: #383838!important;
    }
    
    .my-text-grey-700-md {
        color: #434343!important;
    }
    
    .my-text-grey-600-md {
        color: #515151!important;
    }
    
    .my-text-grey-500-md {
        color: #666666!important;
    }
    
    .my-text-grey-400-md {
        color: #818181!important;
    }
    
    .my-text-grey-300-md {
        color: #A4A4A4!important;
    }
    
    .my-text-grey-200-md {
        color: #C8C8C8!important;
    }
    
    .my-text-grey-100-md {
        color: #E3E3E3!important;
    }
    
    .my-text-grey-50-md {
        color: #F7F7F7!important;
    }
    
    .my-text-grey-0-md {
        color: #FFFFFF!important;
    }
    
    .my-text-success-950-md {
        color: #0B2B08!important;
    }
    
    .my-text-success-900-md {
        color: #1F4E19!important;
    }
    
    .my-text-success-800-md {
        color: #255F1C!important;
    }
    
    .my-text-success-700-md {
        color: #29781D!important;
    }
    
    .my-text-success-600-md {
        color: #309920!important;
    }
    
    .my-text-success-500-md {
        color: #47CB32!important;
    }
    
    .my-text-success-400-md {
        color: #67D355!important;
    }
    
    .my-text-success-300-md {
        color: #9BE78E!important;
    }
    
    .my-text-success-200-md {
        color: #C7F3BF!important;
    }
    
    .my-text-success-100-md {
        color: #E2FADE!important;
    }
    
    .my-text-success-50-md {
        color: #F4FCF1!important;
    }
    
    .my-text-errorNote-950-md {
        color: #481007!important;
    }
    
    .my-text-errorNote-900-md {
        color: #842718!important;
    }
    
    .my-text-errorNote-800-md {
        color: #A02714!important;
    }
    
    .my-text-errorNote-700-md {
        color: #C12C14!important;
    }
    
    .my-text-errorNote-600-md {
        color: #E5381D!important;
    }
    
    .my-text-errorNote-500-md {
        color: #F8553B!important;
    }
    
    .my-text-errorNote-400-md {
        color: #FF735D!important;
    }
    
    .my-text-errorNote-300-md {
        color: #FFADA0!important;
    }
    
    .my-text-errorNote-200-md {
        color: #FFCFC7!important;
    }
    
    .my-text-errorNote-100-md {
        color: #FFE5E1!important;
    }
    
    .my-text-errorNote-50-md {
        color: #FFF3F1!important;
    }
    
}
@include web_570{
    .my-bg-primary-950-sm {
        background-color: #0B2846!important;
    }
    
    .my-bg-primary-900-sm {
        background-color: #10406A!important;
    }
    
    .my-bg-primary-800-sm {
        background-color: #0C4B80!important;
    }
    
    .my-bg-primary-700-sm {
        background-color: #0A599A!important;
    }
    
    .my-bg-primary-600-sm {
        background-color: #0A6FBF!important;
    }
    
    .my-bg-primary-500-sm {
        background-color: #178DE0!important;
    }
    
    .my-bg-primary-400-sm {
        background-color: #4FAFF1!important;
    }
    
    .my-bg-primary-300-sm {
        background-color: #82C5F7!important;
    }
    
    .my-bg-primary-200-sm {
        background-color: #BDDFFA!important;
    }
    
    .my-bg-primary-100-sm {
        background-color: #E1EFFD!important;
    }
    
    .my-bg-primary-50-sm {
        background-color: #F1F8FE!important;
    }
    
    .my-bg-secondary-950-sm {
        background-color: #1D1F25!important;
    }
    
    .my-bg-secondary-900-sm {
        background-color: #363A44!important;
    }
    
    .my-bg-secondary-800-sm {
        background-color: #3C4250!important;
    }
    
    .my-bg-secondary-700-sm {
        background-color: #464D5E!important;
    }
    
    .my-bg-secondary-600-sm {
        background-color: #565F73!important;
    }
    
    .my-bg-secondary-500-sm {
        background-color: #6B768C!important;
    }
    
    .my-bg-secondary-400-sm {
        background-color: #8993A7!important;
    }
    
    .my-bg-secondary-300-sm {
        background-color: #B3B9C6!important;
    }
    
    .my-bg-secondary-200-sm {
        background-color: #D6D9E1!important;
    }
    
    .my-bg-secondary-100-sm {
        background-color: #EDEEF1!important;
    }
    
    .my-bg-secondary-50-sm {
        background-color: #F6F7F9!important;
    }
    
    .my-bg-grey-950-sm {
        background-color: #262626!important;
    }
    
    .my-bg-grey-900-sm {
        background-color: #313131!important;
    }
    
    .my-bg-grey-800-sm {
        background-color: #383838!important;
    }
    
    .my-bg-grey-700-sm {
        background-color: #434343!important;
    }
    
    .my-bg-grey-600-sm {
        background-color: #515151!important;
    }
    
    .my-bg-grey-500-sm {
        background-color: #666666!important;
    }
    
    .my-bg-grey-400-sm {
        background-color: #818181!important;
    }
    
    .my-bg-grey-300-sm {
        background-color: #A4A4A4!important;
    }
    
    .my-bg-grey-200-sm {
        background-color: #C8C8C8!important;
    }
    
    .my-bg-grey-100-sm {
        background-color: #E3E3E3!important;
    }
    
    .my-bg-grey-50-sm {
        background-color: #F7F7F7!important;
    }
    
    .my-bg-grey-0-sm {
        background-color: #FFFFFF!important;
    }
    
    .my-bg-success-950-sm {
        background-color: #0B2B08!important;
    }
    
    .my-bg-success-900-sm {
        background-color: #1F4E19!important;
    }
    
    .my-bg-success-800-sm {
        background-color: #255F1C!important;
    }
    
    .my-bg-success-700-sm {
        background-color: #29781D!important;
    }
    
    .my-bg-success-600-sm {
        background-color: #309920!important;
    }
    
    .my-bg-success-500-sm {
        background-color: #47CB32!important;
    }
    
    .my-bg-success-400-sm {
        background-color: #67D355!important;
    }
    
    .my-bg-success-300-sm {
        background-color: #9BE78E!important;
    }
    
    .my-bg-success-200-sm {
        background-color: #C7F3BF!important;
    }
    
    .my-bg-success-100-sm {
        background-color: #E2FADE!important;
    }
    
    .my-bg-success-50-sm {
        background-color: #F4FCF1!important;
    }
    
    .my-bg-errorNote-950-sm {
        background-color: #481007!important;
    }
    
    .my-bg-errorNote-900-sm {
        background-color: #842718!important;
    }
    
    .my-bg-errorNote-800-sm {
        background-color: #A02714!important;
    }
    
    .my-bg-errorNote-700-sm {
        background-color: #C12C14!important;
    }
    
    .my-bg-errorNote-600-sm {
        background-color: #E5381D!important;
    }
    
    .my-bg-errorNote-500-sm {
        background-color: #F8553B!important;
    }
    
    .my-bg-errorNote-400-sm {
        background-color: #FF735D!important;
    }
    
    .my-bg-errorNote-300-sm {
        background-color: #FFADA0!important;
    }
    
    .my-bg-errorNote-200-sm {
        background-color: #FFCFC7!important;
    }
    
    .my-bg-errorNote-100-sm {
        background-color: #FFE5E1!important;
    }
    
    .my-bg-errorNote-50-sm {
        background-color: #FFF3F1!important;
    }
    
    .my-bg-transparent-sm {
        background-color: transparent!important;
    }
    
    .my-text-primary-950-sm {
        color: #0B2846!important;
    }
    
    .my-text-primary-900-sm {
        color: #10406A!important;
    }
    
    .my-text-primary-800-sm {
        color: #0C4B80!important;
    }
    
    .my-text-primary-700-sm {
        color: #0A599A!important;
    }
    
    .my-text-primary-600-sm {
        color: #0A6FBF!important;
    }
    
    .my-text-primary-500-sm {
        color: #178DE0!important;
    }
    
    .my-text-primary-400-sm {
        color: #4FAFF1!important;
    }
    
    .my-text-primary-300-sm {
        color: #82C5F7!important;
    }
    
    .my-text-primary-200-sm {
        color: #BDDFFA!important;
    }
    
    .my-text-primary-100-sm {
        color: #E1EFFD!important;
    }
    
    .my-text-primary-50-sm {
        color: #F1F8FE!important;
    }
    
    .my-text-secondary-950-sm {
        color: #1D1F25!important;
    }
    
    .my-text-secondary-900-sm {
        color: #363A44!important;
    }
    
    .my-text-secondary-800-sm {
        color: #3C4250!important;
    }
    
    .my-text-secondary-700-sm {
        color: #464D5E!important;
    }
    
    .my-text-secondary-600-sm {
        color: #565F73!important;
    }
    
    .my-text-secondary-500-sm {
        color: #6B768C!important;
    }
    
    .my-text-secondary-400-sm {
        color: #8993A7!important;
    }
    
    .my-text-secondary-300-sm {
        color: #B3B9C6!important;
    }
    
    .my-text-secondary-200-sm {
        color: #D6D9E1!important;
    }
    
    .my-text-secondary-100-sm {
        color: #EDEEF1!important;
    }
    
    .my-text-secondary-50-sm {
        color: #F6F7F9!important;
    }
    
    .my-text-grey-950-sm {
        color: #262626!important;
    }
    
    .my-text-grey-900-sm {
        color: #313131!important;
    }
    
    .my-text-grey-800-sm {
        color: #383838!important;
    }
    
    .my-text-grey-700-sm {
        color: #434343!important;
    }
    
    .my-text-grey-600-sm {
        color: #515151!important;
    }
    
    .my-text-grey-500-sm {
        color: #666666!important;
    }
    
    .my-text-grey-400-sm {
        color: #818181!important;
    }
    
    .my-text-grey-300-sm {
        color: #A4A4A4!important;
    }
    
    .my-text-grey-200-sm {
        color: #C8C8C8!important;
    }
    
    .my-text-grey-100-sm {
        color: #E3E3E3!important;
    }
    
    .my-text-grey-50-sm {
        color: #F7F7F7!important;
    }
    
    .my-text-grey-0-sm {
        color: #FFFFFF!important;
    }
    
    .my-text-success-950-sm {
        color: #0B2B08!important;
    }
    
    .my-text-success-900-sm {
        color: #1F4E19!important;
    }
    
    .my-text-success-800-sm {
        color: #255F1C!important;
    }
    
    .my-text-success-700-sm {
        color: #29781D!important;
    }
    
    .my-text-success-600-sm {
        color: #309920!important;
    }
    
    .my-text-success-500-sm {
        color: #47CB32!important;
    }
    
    .my-text-success-400-sm {
        color: #67D355!important;
    }
    
    .my-text-success-300-sm {
        color: #9BE78E!important;
    }
    
    .my-text-success-200-sm {
        color: #C7F3BF!important;
    }
    
    .my-text-success-100-sm {
        color: #E2FADE!important;
    }
    
    .my-text-success-50-sm {
        color: #F4FCF1!important;
    }
    
    .my-text-errorNote-950-sm {
        color: #481007!important;
    }
    
    .my-text-errorNote-900-sm {
        color: #842718!important;
    }
    
    .my-text-errorNote-800-sm {
        color: #A02714!important;
    }
    
    .my-text-errorNote-700-sm {
        color: #C12C14!important;
    }
    
    .my-text-errorNote-600-sm {
        color: #E5381D!important;
    }
    
    .my-text-errorNote-500-sm {
        color: #F8553B!important;
    }
    
    .my-text-errorNote-400-sm {
        color: #FF735D!important;
    }
    
    .my-text-errorNote-300-sm {
        color: #FFADA0!important;
    }
    
    .my-text-errorNote-200-sm {
        color: #FFCFC7!important;
    }
    
    .my-text-errorNote-100-sm {
        color: #FFE5E1!important;
    }
    
    .my-text-errorNote-50-sm {
        color: #FFF3F1!important;
    }
    
}