.my-bg-my-primary-950 {
  background-color: #0B2846 !important;
}

.my-bg-my-primary-900 {
  background-color: #10406A !important;
}

.my-bg-my-primary-800 {
  background-color: #0C4B80 !important;
}

.my-bg-my-primary-700 {
  background-color: #0A599A !important;
}

.my-bg-my-primary-600 {
  background-color: #0A6FBF !important;
}

.my-bg-my-primary-500 {
  background-color: #178DE0 !important;
}

.my-bg-my-primary-400 {
  background-color: #4FAFF1 !important;
}

.my-bg-my-primary-300 {
  background-color: #82C5F7 !important;
}

.my-bg-my-primary-200 {
  background-color: #BDDFFA !important;
}

.my-bg-my-primary-100 {
  background-color: #E1EFFD !important;
}

.my-bg-my-primary-50 {
  background-color: #F1F8FE !important;
}

.my-bg-my-secondary-950 {
  background-color: #1D1F25 !important;
}

.my-bg-my-secondary-900 {
  background-color: #363A44 !important;
}

.my-bg-my-secondary-800 {
  background-color: #3C4250 !important;
}

.my-bg-my-secondary-700 {
  background-color: #464D5E !important;
}

.my-bg-my-secondary-600 {
  background-color: #565F73 !important;
}

.my-bg-my-secondary-500 {
  background-color: #6B768C !important;
}

.my-bg-my-secondary-400 {
  background-color: #8993A7 !important;
}

.my-bg-my-secondary-300 {
  background-color: #B3B9C6 !important;
}

.my-bg-my-secondary-200 {
  background-color: #D6D9E1 !important;
}

.my-bg-my-secondary-100 {
  background-color: #EDEEF1 !important;
}

.my-bg-my-secondary-50 {
  background-color: #F6F7F9 !important;
}

.my-bg-my-grey-950 {
  background-color: #262626 !important;
}

.my-bg-my-grey-900 {
  background-color: #313131 !important;
}

.my-bg-my-grey-800 {
  background-color: #383838 !important;
}

.my-bg-my-grey-700 {
  background-color: #434343 !important;
}

.my-bg-my-grey-600 {
  background-color: #515151 !important;
}

.my-bg-my-grey-500 {
  background-color: #666666 !important;
}

.my-bg-my-grey-400 {
  background-color: #818181 !important;
}

.my-bg-my-grey-300 {
  background-color: #A4A4A4 !important;
}

.my-bg-my-grey-200 {
  background-color: #C8C8C8 !important;
}

.my-bg-my-grey-100 {
  background-color: #E3E3E3 !important;
}

.my-bg-my-grey-50 {
  background-color: #F7F7F7 !important;
}

.my-bg-my-grey-0 {
  background-color: #FFFFFF !important;
}

.my-bg-my-success-950 {
  background-color: #0B2B08 !important;
}

.my-bg-my-success-900 {
  background-color: #1F4E19 !important;
}

.my-bg-my-success-800 {
  background-color: #255F1C !important;
}

.my-bg-my-success-700 {
  background-color: #29781D !important;
}

.my-bg-my-success-600 {
  background-color: #309920 !important;
}

.my-bg-my-success-500 {
  background-color: #47CB32 !important;
}

.my-bg-my-success-400 {
  background-color: #67D355 !important;
}

.my-bg-my-success-300 {
  background-color: #9BE78E !important;
}

.my-bg-my-success-200 {
  background-color: #C7F3BF !important;
}

.my-bg-my-success-100 {
  background-color: #E2FADE !important;
}

.my-bg-my-success-50 {
  background-color: #F4FCF1 !important;
}

.my-bg-my-errorNote-950 {
  background-color: #481007 !important;
}

.my-bg-my-errorNote-900 {
  background-color: #842718 !important;
}

.my-bg-my-errorNote-800 {
  background-color: #A02714 !important;
}

.my-bg-my-errorNote-700 {
  background-color: #C12C14 !important;
}

.my-bg-my-errorNote-600 {
  background-color: #E5381D !important;
}

.my-bg-my-errorNote-500 {
  background-color: #F8553B !important;
}

.my-bg-my-errorNote-400 {
  background-color: #FF735D !important;
}

.my-bg-my-errorNote-300 {
  background-color: #FFADA0 !important;
}

.my-bg-my-errorNote-200 {
  background-color: #FFCFC7 !important;
}

.my-bg-my-errorNote-100 {
  background-color: #FFE5E1 !important;
}

.my-bg-my-errorNote-50 {
  background-color: #FFF3F1 !important;
}

.my-text-my-primary-950 {
  color: #0B2846 !important;
}

.my-text-my-primary-900 {
  color: #10406A !important;
}

.my-text-my-primary-800 {
  color: #0C4B80 !important;
}

.my-text-my-primary-700 {
  color: #0A599A !important;
}

.my-text-my-primary-600 {
  color: #0A6FBF !important;
}

.my-text-my-primary-500 {
  color: #178DE0 !important;
}

.my-text-my-primary-400 {
  color: #4FAFF1 !important;
}

.my-text-my-primary-300 {
  color: #82C5F7 !important;
}

.my-text-my-primary-200 {
  color: #BDDFFA !important;
}

.my-text-my-primary-100 {
  color: #E1EFFD !important;
}

.my-text-my-primary-50 {
  color: #F1F8FE !important;
}

.my-text-my-secondary-950 {
  color: #1D1F25 !important;
}

.my-text-my-secondary-900 {
  color: #363A44 !important;
}

.my-text-my-secondary-800 {
  color: #3C4250 !important;
}

.my-text-my-secondary-700 {
  color: #464D5E !important;
}

.my-text-my-secondary-600 {
  color: #565F73 !important;
}

.my-text-my-secondary-500 {
  color: #6B768C !important;
}

.my-text-my-secondary-400 {
  color: #8993A7 !important;
}

.my-text-my-secondary-300 {
  color: #B3B9C6 !important;
}

.my-text-my-secondary-200 {
  color: #D6D9E1 !important;
}

.my-text-my-secondary-100 {
  color: #EDEEF1 !important;
}

.my-text-my-secondary-50 {
  color: #F6F7F9 !important;
}

.my-text-my-grey-950 {
  color: #262626 !important;
}

.my-text-my-grey-900 {
  color: #313131 !important;
}

.my-text-my-grey-800 {
  color: #383838 !important;
}

.my-text-my-grey-700 {
  color: #434343 !important;
}

.my-text-my-grey-600 {
  color: #515151 !important;
}

.my-text-my-grey-500 {
  color: #666666 !important;
}

.my-text-my-grey-400 {
  color: #818181 !important;
}

.my-text-my-grey-300 {
  color: #A4A4A4 !important;
}

.my-text-my-grey-200 {
  color: #C8C8C8 !important;
}

.my-text-my-grey-100 {
  color: #E3E3E3 !important;
}

.my-text-my-grey-50 {
  color: #F7F7F7 !important;
}

.my-text-my-grey-0 {
  color: #FFFFFF !important;
}

.my-text-my-success-950 {
  color: #0B2B08 !important;
}

.my-text-my-success-900 {
  color: #1F4E19 !important;
}

.my-text-my-success-800 {
  color: #255F1C !important;
}

.my-text-my-success-700 {
  color: #29781D !important;
}

.my-text-my-success-600 {
  color: #309920 !important;
}

.my-text-my-success-500 {
  color: #47CB32 !important;
}

.my-text-my-success-400 {
  color: #67D355 !important;
}

.my-text-my-success-300 {
  color: #9BE78E !important;
}

.my-text-my-success-200 {
  color: #C7F3BF !important;
}

.my-text-my-success-100 {
  color: #E2FADE !important;
}

.my-text-my-success-50 {
  color: #F4FCF1 !important;
}

.my-text-my-errorNote-950 {
  color: #481007 !important;
}

.my-text-my-errorNote-900 {
  color: #842718 !important;
}

.my-text-my-errorNote-800 {
  color: #A02714 !important;
}

.my-text-my-errorNote-700 {
  color: #C12C14 !important;
}

.my-text-my-errorNote-600 {
  color: #E5381D !important;
}

.my-text-my-errorNote-500 {
  color: #F8553B !important;
}

.my-text-my-errorNote-400 {
  color: #FF735D !important;
}

.my-text-my-errorNote-300 {
  color: #FFADA0 !important;
}

.my-text-my-errorNote-200 {
  color: #FFCFC7 !important;
}

.my-text-my-errorNote-100 {
  color: #FFE5E1 !important;
}

.my-text-my-errorNote-50 {
  color: #FFF3F1 !important;
}

.my-border-my-primary-950 {
  border-color: #0B2846 !important;
}

.my-border-my-primary-900 {
  border-color: #10406A !important;
}

.my-border-my-primary-800 {
  border-color: #0C4B80 !important;
}

.my-border-my-primary-700 {
  border-color: #0A599A !important;
}

.my-border-my-primary-600 {
  border-color: #0A6FBF !important;
}

.my-border-my-primary-500 {
  border-color: #178DE0 !important;
}

.my-border-my-primary-400 {
  border-color: #4FAFF1 !important;
}

.my-border-my-primary-300 {
  border-color: #82C5F7 !important;
}

.my-border-my-primary-200 {
  border-color: #BDDFFA !important;
}

.my-border-my-primary-100 {
  border-color: #E1EFFD !important;
}

.my-border-my-primary-50 {
  border-color: #F1F8FE !important;
}

.my-border-my-secondary-950 {
  border-color: #1D1F25 !important;
}

.my-border-my-secondary-900 {
  border-color: #363A44 !important;
}

.my-border-my-secondary-800 {
  border-color: #3C4250 !important;
}

.my-border-my-secondary-700 {
  border-color: #464D5E !important;
}

.my-border-my-secondary-600 {
  border-color: #565F73 !important;
}

.my-border-my-secondary-500 {
  border-color: #6B768C !important;
}

.my-border-my-secondary-400 {
  border-color: #8993A7 !important;
}

.my-border-my-secondary-300 {
  border-color: #B3B9C6 !important;
}

.my-border-my-secondary-200 {
  border-color: #D6D9E1 !important;
}

.my-border-my-secondary-100 {
  border-color: #EDEEF1 !important;
}

.my-border-my-secondary-50 {
  border-color: #F6F7F9 !important;
}

.my-border-my-grey-950 {
  border-color: #262626 !important;
}

.my-border-my-grey-900 {
  border-color: #313131 !important;
}

.my-border-my-grey-800 {
  border-color: #383838 !important;
}

.my-border-my-grey-700 {
  border-color: #434343 !important;
}

.my-border-my-grey-600 {
  border-color: #515151 !important;
}

.my-border-my-grey-500 {
  border-color: #666666 !important;
}

.my-border-my-grey-400 {
  border-color: #818181 !important;
}

.my-border-my-grey-300 {
  border-color: #A4A4A4 !important;
}

.my-border-my-grey-200 {
  border-color: #C8C8C8 !important;
}

.my-border-my-grey-100 {
  border-color: #E3E3E3 !important;
}

.my-border-my-grey-50 {
  border-color: #F7F7F7 !important;
}

.my-border-my-grey-0 {
  border-color: #FFFFFF !important;
}

.my-border-my-success-950 {
  border-color: #0B2B08 !important;
}

.my-border-my-success-900 {
  border-color: #1F4E19 !important;
}

.my-border-my-success-800 {
  border-color: #255F1C !important;
}

.my-border-my-success-700 {
  border-color: #29781D !important;
}

.my-border-my-success-600 {
  border-color: #309920 !important;
}

.my-border-my-success-500 {
  border-color: #47CB32 !important;
}

.my-border-my-success-400 {
  border-color: #67D355 !important;
}

.my-border-my-success-300 {
  border-color: #9BE78E !important;
}

.my-border-my-success-200 {
  border-color: #C7F3BF !important;
}

.my-border-my-success-100 {
  border-color: #E2FADE !important;
}

.my-border-my-success-50 {
  border-color: #F4FCF1 !important;
}

.my-border-my-errorNote-950 {
  border-color: #481007 !important;
}

.my-border-my-errorNote-900 {
  border-color: #842718 !important;
}

.my-border-my-errorNote-800 {
  border-color: #A02714 !important;
}

.my-border-my-errorNote-700 {
  border-color: #C12C14 !important;
}

.my-border-my-errorNote-600 {
  border-color: #E5381D !important;
}

.my-border-my-errorNote-500 {
  border-color: #F8553B !important;
}

.my-border-my-errorNote-400 {
  border-color: #FF735D !important;
}

.my-border-my-errorNote-300 {
  border-color: #FFADA0 !important;
}

.my-border-my-errorNote-200 {
  border-color: #FFCFC7 !important;
}

.my-border-my-errorNote-100 {
  border-color: #FFE5E1 !important;
}

.my-border-my-errorNote-50 {
  border-color: #FFF3F1 !important;
}

/*rwd*/
.my-member-quick {
  width: 100%;
  max-width: 100%;
  margin: 0 40px 0 0;
  height: 100%;
  min-height: 860px;
  background-image: url(https://image.mycard520.com/globalmycard/member/test0417/0417/img/member-sidebar-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 16px 16px 16px 16px;
  padding: 32px 8px 8px 8px;
  position: relative;
}
@media (max-width: 570px) {
  .my-member-quick {
    max-width: 100%;
    min-height: initial;
    padding: 24px 16px 16px 16px;
    margin: 0 0 24px 0;
  }
}
.my-member-quick .my-member-quick-level {
  position: absolute;
  top: 0px;
  right: 16px;
  width: 53px;
  height: 20px;
  background: linear-gradient(180deg, #F8D136 0%, #FAB558 100%);
  color: #fff;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 2px 13px 4px 13px;
  border-radius: 0 0 6px 6px;
}
.my-member-quick .my-member-quick-level .my-member-quick-level-title {
  font-size: 9px;
  line-height: 100%;
  color: #FFFFFF;
}
.my-member-quick .my-member-quick-level .my-member-quick-level-number {
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
}
.my-member-quick .my-member-quickBox {
  width: 100%;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox {
    max-width: 100%;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-info {
  flex: 1;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 16px 0;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait {
    flex-direction: row;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait .my-member-quick-group {
  width: 100%;
  display: flex;
  align-items: center;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait .my-member-quick-group .my-member-quick-img {
  flex: 0 0 60px;
  margin: 0 24px 0 0;
  position: relative;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait .my-member-quick-group .my-member-quick-img a {
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #fff;
  display: block;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait .my-member-quick-group .my-member-quick-img a img {
  width: 100%;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait .my-member-quick-group .my-member-quick-img .my-member-quick-img-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-portrait .my-member-quick-group .my-member-quick-img .my-member-quick-img-btn svg {
  width: 16px;
  height: 16px;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-num {
  cursor: pointer;
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 0 16px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-num .my-member-quick-info-num-text {
  color: #3C4250;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-num .my-member-quick-info-num-number {
  flex: 1;
  color: #1D1F25;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-num .iconBox {
  width: 24px;
  height: 24px;
}
.my-member-quick .my-member-quickBox .my-member-quick-info .my-member-quick-info-num .iconBox svg {
  width: 24px;
  height: 24px;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool {
  width: 100%;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool {
    max-width: 100%;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool .my-member-quick-tool-container ul {
  width: 100%;
  gap: 16px;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool .my-member-quick-tool-container ul li a {
  text-decoration: none;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool .my-member-quick-tool-container ul li a .iconText .iconBox svg {
  width: 48px;
  height: 48px;
}
@media (max-width: 900px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool .my-member-quick-tool-container ul li a .iconText .iconBox svg {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool .my-member-quick-tool-container ul li a .iconText .iconBox svg {
    width: 48px;
    height: 48px;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool .my-member-quick-tool-container ul li a .iconText .text {
  color: #3C4250;
  text-align: center;
}
.my-member-quick .my-member-quickBox .my-member-quick-points {
  width: 100%;
  margin: 0 0 0 0;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-points {
    max-width: 100%;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide {
  background-color: #FFFFFF;
  border-radius: 6px;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide .my-member-quick-points-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide .my-member-quick-points-text .iconBox {
  cursor: pointer;
  display: none;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide .my-member-quick-points-text .iconBox.show {
  display: block;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide .my-member-quick-points-wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 12px 16px;
  color: #178DE0;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide .my-member-quick-points-wallet .currency {
  font-size: 13px;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-wrapper .swiper-slide .my-member-quick-points-wallet .points {
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
}
.my-member-quick .my-member-quickBox .my-member-quick-points .my-member-quick-points-container .swiper .swiper-pagination {
  position: initial;
}
.my-member-quick .my-member-quickBox .imgBox {
  width: 100%;
  max-width: 100%;
}
.my-member-quick .my-member-quickBox .imgBox a img {
  width: 100%;
  max-width: 100%;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper {
  width: 100%;
  margin: 24px 0 0 0;
  overflow-y: auto;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper::-webkit-scrollbar {
  width: 12px;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper::-webkit-scrollbar-button {
  height: 0px;
  background: transparent;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper::-webkit-scrollbar-track-piece {
  background: transparent;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper::-webkit-scrollbar-track {
  background-color: transparent;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #E3E3E3;
  border: 4px solid #FFFFFF;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper {
    max-width: 100%;
    overflow-y: initial;
    border: 1px solid #EDEEF1;
    background-color: #fff;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide:first-child a {
  border-radius: 6px 6px 0 0;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide:last-child a {
  border-bottom: none;
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a {
  display: block;
  line-height: initial;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 2px solid #EDEEF1;
  padding: 12px 16px 12px 16px;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a {
    border-bottom: initial;
    padding: 8px 8px 8px 8px;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText {
  display: flex;
  align-items: center;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText {
    flex-direction: column;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText .iconBox {
  margin: 0 8px 0 0;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText .iconBox {
    margin: 0 0 8px 0;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText .iconBox svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText .iconBox svg {
    width: 32px;
    height: 32px;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText .text {
  color: #565F73;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a .iconText .text {
    font-size: 12px;
    text-align: center;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a.active {
  background-color: #EDEEF1;
}
@media (max-width: 570px) {
  .my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-wrapper .swiper-slide a.active {
    background-color: #ffffff;
  }
}
.my-member-quick .my-member-quickBox .my-member-quick-tool-swiper .swiper .swiper-pagination {
  position: initial;
}

.my-member-quick-otherFunctions {
  border: 1px solid #F6F7F9;
  border-radius: 8px;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-title {
  padding: 6px 8px 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F6F7F9;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-title .my-member-quick-otherFunctions-name {
  line-height: 24px;
  font-size: 12px;
  color: #3C4250;
  font-weight: 400;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-title .my-member-quick-otherFunctions-btn {
  margin: 0 0 0 10px;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-title .my-member-quick-otherFunctions-btn .iconBox {
  cursor: pointer;
  display: none;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-title .my-member-quick-otherFunctions-btn .iconBox svg {
  width: 24px;
  height: 24px;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-title .my-member-quick-otherFunctions-btn .iconBox.show {
  display: block;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list {
  display: flex;
  flex-wrap: wrap;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a {
  display: flex;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconBox {
  margin: 0 8px 0 0;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconBox svg {
  width: 24px;
  height: 24px;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconText {
  display: flex;
  align-items: center;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconText .text {
  font-size: 14px;
  line-height: 24px;
  color: #565F73;
  font-weight: 500;
}
.my-member-quick-otherFunctions .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item + .my-member-quick-otherFunctions-item {
  border-top: 1px solid #EDEEF1;
}

.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list {
  gap: 12px;
  padding: 8px 8px 8px 8px;
}
.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item {
  border-top: none;
  width: calc(25% - 9px);
}
.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a {
  flex-direction: column;
  padding: 0 0 0 0;
}
.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconText {
  flex-direction: column;
}
.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconText .iconBox {
  margin: 0 0 0 0;
}
.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconText .iconBox svg {
  width: 32px;
  height: 32px;
}
.my-member-quick-otherFunctions.list-fourCardType .my-member-quick-otherFunctions-list .my-member-quick-otherFunctions-item a .iconText .text {
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  margin: 8px 0 8px 0;
}

#quick-electAvatar {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: none;
  z-index: 203;
}

#member-checkIn .member-checkIn-overlay {
  z-index: 200;
}
#member-checkIn .rule-pop {
  z-index: 201;
}
#member-checkIn .terms-pop {
  z-index: 201;
}
#member-checkIn .pleaseLogIn-pop {
  z-index: 201;
}
#member-checkIn .main-content-container {
  display: flex;
}
@media (max-width: 900px) {
  #member-checkIn .main-content-container {
    flex-direction: column;
  }
}
#member-checkIn .main-content-container .sideBar {
  width: 100%;
  max-width: 300px;
}
@media (max-width: 900px) {
  #member-checkIn .main-content-container .sideBar {
    max-width: 100%;
  }
}
@media (max-width: 570px) {
  #member-checkIn .main-content-container .sideBar {
    display: none;
  }
}
#member-checkIn .main-content-container .sideContent {
  width: 100%;
  max-width: calc(100% - 340px);
}
@media (max-width: 900px) {
  #member-checkIn .main-content-container .sideContent {
    max-width: 100%;
  }
}
#member-checkIn .main-content-container .sideContent .imgBox img {
  display: block;
  width: 100%;
}
#member-checkIn .my-checkIn-list.noLogging {
  opacity: 0.5;
}
#member-checkIn .my-checkIn-list .swiper-wrapper {
  width: 100%;
  max-width: 892px;
}
#member-checkIn .my-checkIn-list .swiper-wrapper .swiper-slide .my-checkIn-item {
  background-color: #F6F7F9;
  border-radius: 6px;
  padding: 8px;
}
#member-checkIn .my-checkIn-list .swiper-wrapper .swiper-slide .my-checkIn-item.expired {
  opacity: 0.5;
}
#member-checkIn .my-checkIn-list .swiper-wrapper .swiper-slide .my-checkIn-item.today {
  border: 2px solid #4FAFF1;
}
#member-checkIn .my-checkIn-list .swiper-wrapper .swiper-slide .my-checkIn-item .imgBox {
  width: 100%;
  max-width: 40px;
}
#member-checkIn .checkIn-btnBox .my-btn-main {
  width: 100%;
  max-width: 360px;
}/*# sourceMappingURL=_member_quick.css.map */