.my-mt-0{
    margin-top:0px!important;
}
.my-mt-1{
    margin-top:4px!important;
}
.my-mt-2{
    margin-top:8px!important;
}
.my-mt-3{
    margin-top:12px!important;
}
.my-mt-4{
    margin-top:16px!important;
}
.my-mt-5{
    margin-top:24px!important;
}
.my-mt-6{
    margin-top:32px!important;
}
.my-mt-7{
    margin-top:40px!important;
}
.my-mt-8{
    margin-top:48px!important;
}
.my-mt-9{
    margin-top:60px!important;
}

/* 更新 .my-mb 类 */
.my-mb-0{
    margin-bottom:0px!important;
}
.my-mb-1{
    margin-bottom:4px!important;
}
.my-mb-2{
    margin-bottom:8px!important;
}
.my-mb-3{
    margin-bottom:12px!important;
}
.my-mb-4{
    margin-bottom:16px!important;
}
.my-mb-5{
    margin-bottom:24px!important;
}
.my-mb-6{
    margin-bottom:32px!important;
}
.my-mb-7{
    margin-bottom:40px!important;
}
.my-mb-8{
    margin-bottom:48px!important;
}
.my-mb-9{
    margin-bottom:60px!important;
}

/* 更新 .my-ml 类 */
.my-ml-0{
    margin-left:0px!important;
}
.my-ml-1{
    margin-left:4px!important;
}
.my-ml-2{
    margin-left:8px!important;
}
.my-ml-3{
    margin-left:12px!important;
}
.my-ml-4{
    margin-left:16px!important;
}
.my-ml-5{
    margin-left:24px!important;
}
.my-ml-6{
    margin-left:32px!important;
}
.my-ml-7{
    margin-left:40px!important;
}
.my-ml-8{
    margin-left:48px!important;
}
.my-ml-9{
    margin-left:60px!important;
}

/* 更新 .my-mr 类 */
.my-mr-0{
    margin-right:0px!important;
}
.my-mr-1{
    margin-right:4px!important;
}
.my-mr-2{
    margin-right:8px!important;
}
.my-mr-3{
    margin-right:12px!important;
}
.my-mr-4{
    margin-right:16px!important;
}
.my-mr-5{
    margin-right:24px!important;
}
.my-mr-6{
    margin-right:32px!important;
}
.my-mr-7{
    margin-right:40px!important;
}
.my-mr-8{
    margin-right:48px!important;
}
.my-mr-9{
    margin-right:60px!important;
}

/* 更新 .my-my 类 */
.my-my-0{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.my-my-1{
    margin-top:4px!important;
    margin-bottom:4px!important;
}
.my-my-2{
    margin-top:8px!important;
    margin-bottom:8px!important;
}
.my-my-3{
    margin-top:12px!important;
    margin-bottom:12px!important;
}
.my-my-4{
    margin-top:16px!important;
    margin-bottom:16px!important;
}
.my-my-5{
    margin-top:24px!important;
    margin-bottom:24px!important;
}
.my-my-6{
    margin-top:32px!important;
    margin-bottom:32px!important;
}
.my-my-7{
    margin-top:40px!important;
    margin-bottom:40px!important;
}
.my-my-8{
    margin-top:48px!important;
    margin-bottom:48px!important;
}
.my-my-9{
    margin-top:60px!important;
    margin-bottom:60px!important;
}

/* 更新 .my-mx 类 */
.my-mx-0{
    margin-left:0px!important;
    margin-right:0px!important;
}
.my-mx-1{
    margin-left:4px!important;
    margin-right:4px!important;
}
.my-mx-2{
    margin-left:8px!important;
    margin-right:8px!important;
}
.my-mx-3{
    margin-left:12px!important;
    margin-right:12px!important;
}
.my-mx-4{
    margin-left:16px!important;
    margin-right:16px!important;
}
.my-mx-5{
    margin-left:24px!important;
    margin-right:24px!important;
}
.my-mx-6{
    margin-left:32px!important;
    margin-right:32px!important;
}
.my-mx-7{
    margin-left:40px!important;
    margin-right:40px!important;
}
.my-mx-8{
    margin-left:48px!important;
    margin-right:48px!important;
}
.my-mx-9{
    margin-left:60px!important;
    margin-right:60px!important;
}
.my-mt-auto{
    margin-top: auto!important;
}
.my-mx-auto{
    margin-left: auto!important;
    margin-right: auto!important;
}
@include web_768{
    .my-mt-0-md{
        margin-top:0px!important;
    }
    .my-mt-1-md{
        margin-top:4px!important;
    }
    .my-mt-2-md{
        margin-top:8px!important;
    }
    .my-mt-3-md{
        margin-top:12px!important;
    }
    .my-mt-4-md{
        margin-top:16px!important;
    }
    .my-mt-5-md{
        margin-top:24px!important;
    }
    .my-mt-6-md{
        margin-top:32px!important;
    }
    .my-mt-7-md{
        margin-top:40px!important;
    }
    .my-mt-8-md{
        margin-top:48px!important;
    }
    .my-mt-9-md{
        margin-top:60px!important;
    }
    
    /* 更新 .my-mb 类 */
    .my-mb-0-md{
        margin-bottom:0px!important;
    }
    .my-mb-1-md{
        margin-bottom:4px!important;
    }
    .my-mb-2-md{
        margin-bottom:8px!important;
    }
    .my-mb-3-md{
        margin-bottom:12px!important;
    }
    .my-mb-4-md{
        margin-bottom:16px!important;
    }
    .my-mb-5-md{
        margin-bottom:24px!important;
    }
    .my-mb-6-md{
        margin-bottom:32px!important;
    }
    .my-mb-7-md{
        margin-bottom:40px!important;
    }
    .my-mb-8-md{
        margin-bottom:48px!important;
    }
    .my-mb-9-md{
        margin-bottom:60px!important;
    }
    
    /* 更新 .my-ml 类 */
    .my-ml-0-md{
        margin-left:0px!important;
    }
    .my-ml-1-md{
        margin-left:4px!important;
    }
    .my-ml-2-md{
        margin-left:8px!important;
    }
    .my-ml-3-md{
        margin-left:12px!important;
    }
    .my-ml-4-md{
        margin-left:16px!important;
    }
    .my-ml-5-md{
        margin-left:24px!important;
    }
    .my-ml-6-md{
        margin-left:32px!important;
    }
    .my-ml-7-md{
        margin-left:40px!important;
    }
    .my-ml-8-md{
        margin-left:48px!important;
    }
    .my-ml-9-md{
        margin-left:60px!important;
    }
    
    /* 更新 .my-mr 类 */
    .my-mr-0-md{
        margin-right:0px!important;
    }
    .my-mr-1-md{
        margin-right:4px!important;
    }
    .my-mr-2-md{
        margin-right:8px!important;
    }
    .my-mr-3-md{
        margin-right:12px!important;
    }
    .my-mr-4-md{
        margin-right:16px!important;
    }
    .my-mr-5-md{
        margin-right:24px!important;
    }
    .my-mr-6-md{
        margin-right:32px!important;
    }
    .my-mr-7-md{
        margin-right:40px!important;
    }
    .my-mr-8-md{
        margin-right:48px!important;
    }
    .my-mr-9-md{
        margin-right:60px!important;
    }
    
    /* 更新 .my-my 类 */
    .my-my-0-md{
        margin-top:0px!important;
        margin-bottom:0px!important;
    }
    .my-my-1-md{
        margin-top:4px!important;
        margin-bottom:4px!important;
    }
    .my-my-2-md{
        margin-top:8px!important;
        margin-bottom:8px!important;
    }
    .my-my-3-md{
        margin-top:12px!important;
        margin-bottom:12px!important;
    }
    .my-my-4-md{
        margin-top:16px!important;
        margin-bottom:16px!important;
    }
    .my-my-5-md{
        margin-top:24px!important;
        margin-bottom:24px!important;
    }
    .my-my-6-md{
        margin-top:32px!important;
        margin-bottom:32px!important;
    }
    .my-my-7-md{
        margin-top:40px!important;
        margin-bottom:40px!important;
    }
    .my-my-8-md{
        margin-top:48px!important;
        margin-bottom:48px!important;
    }
    .my-my-9-md{
        margin-top:60px!important;
        margin-bottom:60px!important;
    }
    
    /* 更新 .my-mx 类 */
    .my-mx-0-md{
        margin-left:0px!important;
        margin-right:0px!important;
    }
    .my-mx-1-md{
        margin-left:4px!important;
        margin-right:4px!important;
    }
    .my-mx-2-md{
        margin-left:8px!important;
        margin-right:8px!important;
    }
    .my-mx-3-md{
        margin-left:12px!important;
        margin-right:12px!important;
    }
    .my-mx-4-md{
        margin-left:16px!important;
        margin-right:16px!important;
    }
    .my-mx-5-md{
        margin-left:24px!important;
        margin-right:24px!important;
    }
    .my-mx-6-md{
        margin-left:32px!important;
        margin-right:32px!important;
    }
    .my-mx-7-md{
        margin-left:40px!important;
        margin-right:40px!important;
    }
    .my-mx-8-md{
        margin-left:48px!important;
        margin-right:48px!important;
    }
    .my-mx-9-md{
        margin-left:60px!important;
        margin-right:60px!important;
    }
    
    .my-mx-auto-md{
        margin-left: auto!important;
        margin-right: auto!important;
    }
}
@include web_570 {
    /* 更新 .my-mt-sm 类 */
    .my-mt-0-sm{
        margin-top:0px!important;
    }
    .my-mt-1-sm{
        margin-top:4px!important;
    }
    .my-mt-2-sm{
        margin-top:8px!important;
    }
    .my-mt-3-sm{
        margin-top:12px!important;
    }
    .my-mt-4-sm{
        margin-top:16px!important;
    }
    .my-mt-5-sm{
        margin-top:24px!important;
    }
    .my-mt-6-sm{
        margin-top:32px!important;
    }
    .my-mt-7-sm{
        margin-top:40px!important;
    }
    .my-mt-8-sm{
        margin-top:48px!important;
    }
    .my-mt-9-sm{
        margin-top:60px!important;
    }

    /* 更新 .my-mb-s 类 */
    .my-mb-0-sm{
        margin-bottom:0px!important;
    }
    .my-mb-1-sm{
        margin-bottom:4px!important;
    }
    .my-mb-2-sm{
        margin-bottom:8px!important;
    }
    .my-mb-3-sm{
        margin-bottom:12px!important;
    }
    .my-mb-4-sm{
        margin-bottom:16px!important;
    }
    .my-mb-5-sm{
        margin-bottom:24px!important;
    }
    .my-mb-6-sm{
        margin-bottom:32px!important;
    }
    .my-mb-7-sm{
        margin-bottom:40px!important;
    }
    .my-mb-8-sm{
        margin-bottom:48px!important;
    }
    .my-mb-9-sm{
        margin-bottom:60px!important;
    }

    /* 更新 .my-ml-s 类 */
    .my-ml-0-sm{
        margin-left:0px!important;
    }
    .my-ml-1-sm{
        margin-left:4px!important;
    }
    .my-ml-2-sm{
        margin-left:8px!important;
    }
    .my-ml-3-sm{
        margin-left:12px!important;
    }
    .my-ml-4-sm{
        margin-left:16px!important;
    }
    .my-ml-5-sm{
        margin-left:24px!important;
    }
    .my-ml-6-sm{
        margin-left:32px!important;
    }
    .my-ml-7-sm{
        margin-left:40px!important;
    }
    .my-ml-8-sm{
        margin-left:48px!important;
    }
    .my-ml-9-sm{
        margin-left:60px!important;
    }

    /* 更新 .my-mr-s 类 */
    .my-mr-0-sm{
        margin-right:0px!important;
    }
    .my-mr-1-sm{
        margin-right:4px!important;
    }
    .my-mr-2-sm{
        margin-right:8px!important;
    }
    .my-mr-3-sm{
        margin-right:12px!important;
    }
    .my-mr-4-sm{
        margin-right:16px!important;
    }
    .my-mr-5-sm{
        margin-right:24px!important;
    }
    .my-mr-6-sm{
        margin-right:32px!important;
    }
    .my-mr-7-sm{
        margin-right:40px!important;
    }
    .my-mr-8-sm{
        margin-right:48px!important;
    }
    .my-mr-9-sm{
        margin-right:60px!important;
    }

    /* 更新 .my-my-s 类 */
    .my-my-0-sm{
        margin-top:0px!important;
        margin-bottom:0px!important;
    }
    .my-my-1-sm{
        margin-top:4px!important;
        margin-bottom:4px!important;
    }
    .my-my-2-sm{
        margin-top:8px!important;
        margin-bottom:8px!important;
    }
    .my-my-3-sm{
        margin-top:12px!important;
        margin-bottom:12px!important;
    }
    .my-my-4-sm{
        margin-top:16px!important;
        margin-bottom:16px!important;
    }
    .my-my-5-sm{
        margin-top:24px!important;
        margin-bottom:24px!important;
    }
    .my-my-6-sm{
        margin-top:32px!important;
        margin-bottom:32px!important;
    }
    .my-my-7-sm{
        margin-top:40px!important;
        margin-bottom:40px!important;
    }
    .my-my-8-sm{
        margin-top:48px!important;
        margin-bottom:48px!important;
    }
    .my-my-9-sm{
        margin-top:60px!important;
        margin-bottom:60px!important;
    }

    /* 更新 .my-mx-sm 类 */
    .my-mx-0-sm{
        margin-left:0px!important;
        margin-right:0px!important;
    }
    .my-mx-1-sm{
        margin-left:4px!important;
        margin-right:4px!important;
    }
    .my-mx-2-sm{
        margin-left:8px!important;
        margin-right:8px!important;
    }
    .my-mx-3-sm{
        margin-left:12px!important;
        margin-right:12px!important;
    }
    .my-mx-4-sm{
        margin-left:16px!important;
        margin-right:16px!important;
    }
    .my-mx-5-sm{
        margin-left:24px!important;
        margin-right:24px!important;
    }
    .my-mx-6-sm{
        margin-left:32px!important;
        margin-right:32px!important;
    }
    .my-mx-7-sm{
        margin-left:40px!important;
        margin-right:40px!important;
    }
    .my-mx-8-sm{
        margin-left:48px!important;
        margin-right:48px!important;
    }
    .my-mx-9-sm{
        margin-left:60px!important;
        margin-right:60px!important;
    }
}

/* 更新 padding 类 */
.my-p-0{
    padding:0px!important;
}
.my-p-1{
    padding:4px!important;
}
.my-p-2{
    padding:8px!important;
}
.my-p-3{
    padding:12px!important;
}
.my-p-4{
    padding:16px!important;
}
.my-p-5{
    padding:24px!important;
}
.my-p-6{
    padding:32px!important;
}
.my-p-7{
    padding:40px!important;
}
.my-p-8{
    padding:48px!important;
}
.my-p-9{
    padding:60px!important;
}
.my-p-20{
    padding: 20px!important;
}
/* 更新 padding-top 类 */
.my-pt-0{
    padding-top:0px!important;
}
.my-pt-1{
    padding-top:4px!important;
}
.my-pt-2{
    padding-top:8px!important;
}
.my-pt-3{
    padding-top:12px!important;
}
.my-pt-4{
    padding-top:16px!important;
}
.my-pt-5{
    padding-top:24px!important;
}
.my-pt-6{
    padding-top:32px!important;
}
.my-pt-7{
    padding-top:40px!important;
}
.my-pt-8{
    padding-top:48px!important;
}
.my-pt-9{
    padding-top:60px!important;
}

/* 更新 padding-bottom 类 */
.my-pb-0{
    padding-bottom:0px!important;
}
.my-pb-1{
    padding-bottom:4px!important;
}
.my-pb-2{
    padding-bottom:8px!important;
}
.my-pb-3{
    padding-bottom:12px!important;
}
.my-pb-4{
    padding-bottom:16px!important;
}
.my-pb-5{
    padding-bottom:24px!important;
}
.my-pb-6{
    padding-bottom:32px!important;
}
.my-pb-7{
    padding-bottom:40px!important;
}
.my-pb-8{
    padding-bottom:48px!important;
}
.my-pb-9{
    padding-bottom:60px!important;
}

/* 更新 padding-right 类 */
.my-pr-0{
    padding-right:0px!important;
}
.my-pr-1{
    padding-right:4px!important;
}
.my-pr-2{
    padding-right:8px!important;
}
.my-pr-3{
    padding-right:12px!important;
}
.my-pr-4{
    padding-right:16px!important;
}
.my-pr-5{
    padding-right:24px!important;
}
.my-pr-6{
    padding-right:32px!important;
}
.my-pr-7{
    padding-right:40px!important;
}
.my-pr-8{
    padding-right:48px!important;
}
.my-pr-9{
    padding-right:60px!important;
}

/* 更新 padding-left 类 */
.my-pl-0{
    padding-left:0px!important;
}
.my-pl-1{
    padding-left:4px!important;
}
.my-pl-2{
    padding-left:8px!important;
}
.my-pl-3{
    padding-left:12px!important;
}
.my-pl-4{
    padding-left:16px!important;
}
.my-pl-5{
    padding-left:24px!important;
}
.my-pl-6{
    padding-left:32px!important;
}
.my-pl-7{
    padding-left:40px!important;
}
.my-pl-8{
    padding-left:48px!important;
}
.my-pl-9{
    padding-left:60px!important;
}

/* 更新 padding-y 类 */
.my-py-0{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.my-py-1{
    padding-top:4px!important;
    padding-bottom:4px!important;
}
.my-py-2{
    padding-top:8px!important;
    padding-bottom:8px!important;
}
.my-py-3{
    padding-top:12px!important;
    padding-bottom:12px!important;
}
.my-py-4{
    padding-top:16px!important;
    padding-bottom:16px!important;
}
.my-py-5{
    padding-top:24px!important;
    padding-bottom:24px!important;
}
.my-py-6{
    padding-top:32px!important;
    padding-bottom:32px!important;
}
.my-py-7{
    padding-top:40px!important;
    padding-bottom:40px!important;
}
.my-py-8{
    padding-top:48px!important;
    padding-bottom:48px!important;
}
.my-py-9{
    padding-top:60px!important;
    padding-bottom:60px!important;
}

/* 更新 padding-x 类 */
.my-px-0{
    padding-left:0px!important;
    padding-right:0px!important;
}
.my-px-1{
    padding-left:4px!important;
    padding-right:4px!important;
}
.my-px-2{
    padding-left:8px!important;
    padding-right:8px!important;
}
.my-px-3{
    padding-left:12px!important;
    padding-right:12px!important;
}
.my-px-4{
    padding-left:16px!important;
    padding-right:16px!important;
}
.my-px-5{
    padding-left:24px!important;
    padding-right:24px!important;
}
.my-px-6{
    padding-left:32px!important;
    padding-right:32px!important;
}
.my-px-7{
    padding-left:40px!important;
    padding-right:40px!important;
}
.my-px-8{
    padding-left:48px!important;
    padding-right:48px!important;
}
.my-px-9{
    padding-left:60px!important;
    padding-right:60px!important;
}

/* 更新 Web 570 中的 padding 类 */
@include web_1140{
    .my-px-7-lg{
        padding-left:40px!important;
        padding-right:40px!important;
    }
}
@include web_768{
    /* 更新 padding 类 */
    .my-p-0-md{
        padding:0px!important;
    }
    .my-p-1-md{
        padding:4px!important;
    }
    .my-p-2-md{
        padding:8px!important;
    }
    .my-p-3-md{
        padding:12px!important;
    }
    .my-p-4-md{
        padding:16px!important;
    }
    .my-p-5-md{
        padding:24px!important;
    }
    .my-p-6-md{
        padding:32px!important;
    }
    .my-p-7-md{
        padding:40px!important;
    }
    .my-p-8-md{
        padding:48px!important;
    }
    .my-p-9-md{
        padding:60px!important;
    }
    .my-p-20-md{
        padding: 20px!important;
    }
    /* 更新 padding-top 类 */
    .my-pt-0-md{
        padding-top:0px!important;
    }
    .my-pt-1-md{
        padding-top:4px!important;
    }
    .my-pt-2-md{
        padding-top:8px!important;
    }
    .my-pt-3-md{
        padding-top:12px!important;
    }
    .my-pt-4-md{
        padding-top:16px!important;
    }
    .my-pt-5-md{
        padding-top:24px!important;
    }
    .my-pt-6-md{
        padding-top:32px!important;
    }
    .my-pt-7-md{
        padding-top:40px!important;
    }
    .my-pt-8-md{
        padding-top:48px!important;
    }
    .my-pt-9-md{
        padding-top:60px!important;
    }

    /* 更新 padding-bottom 类 */
    .my-pb-0-md{
        padding-bottom:0px!important;
    }
    .my-pb-1-md{
        padding-bottom:4px!important;
    }
    .my-pb-2-md{
        padding-bottom:8px!important;
    }
    .my-pb-3-md{
        padding-bottom:12px!important;
    }
    .my-pb-4-md{
        padding-bottom:16px!important;
    }
    .my-pb-5-md{
        padding-bottom:24px!important;
    }
    .my-pb-6-md{
        padding-bottom:32px!important;
    }
    .my-pb-7-md{
        padding-bottom:40px!important;
    }
    .my-pb-8-md{
        padding-bottom:48px!important;
    }
    .my-pb-9-md{
        padding-bottom:60px!important;
    }

    /* 更新 padding-right 类 */
    .my-pr-0-md{
        padding-right:0px!important;
    }
    .my-pr-1-md{
        padding-right:4px!important;
    }
    .my-pr-2-md{
        padding-right:8px!important;
    }
    .my-pr-3-md{
        padding-right:12px!important;
    }
    .my-pr-4-md{
        padding-right:16px!important;
    }
    .my-pr-5-md{
        padding-right:24px!important;
    }
    .my-pr-6-md{
        padding-right:32px!important;
    }
    .my-pr-7-md{
        padding-right:40px!important;
    }
    .my-pr-8-md{
        padding-right:48px!important;
    }
    .my-pr-9-md{
        padding-right:60px!important;
    }

    /* 更新 padding-left 类 */
    .my-pl-0-md{
        padding-left:0px!important;
    }
    .my-pl-1-md{
        padding-left:4px!important;
    }
    .my-pl-2-md{
        padding-left:8px!important;
    }
    .my-pl-3-md{
        padding-left:12px!important;
    }
    .my-pl-4-md{
        padding-left:16px!important;
    }
    .my-pl-5-md{
        padding-left:24px!important;
    }
    .my-pl-6-md{
        padding-left:32px!important;
    }
    .my-pl-7-md{
        padding-left:40px!important;
    }
    .my-pl-8-md{
        padding-left:48px!important;
    }
    .my-pl-9-md{
        padding-left:60px!important;
    }

    /* 更新 padding-y 类 */
    .my-py-0-md{
        padding-top:0px!important;
        padding-bottom:0px!important;
    }
    .my-py-1-md{
        padding-top:4px!important;
        padding-bottom:4px!important;
    }
    .my-py-2-md{
        padding-top:8px!important;
        padding-bottom:8px!important;
    }
    .my-py-3-md{
        padding-top:12px!important;
        padding-bottom:12px!important;
    }
    .my-py-4-md{
        padding-top:16px!important;
        padding-bottom:16px!important;
    }
    .my-py-5-md{
        padding-top:24px!important;
        padding-bottom:24px!important;
    }
    .my-py-6-md{
        padding-top:32px!important;
        padding-bottom:32px!important;
    }
    .my-py-7-md{
        padding-top:40px!important;
        padding-bottom:40px!important;
    }
    .my-py-8-md{
        padding-top:48px!important;
        padding-bottom:48px!important;
    }
    .my-py-9-md{
        padding-top:60px!important;
        padding-bottom:60px!important;
    }

    /* 更新 padding-x 类 */
    .my-px-0-md{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .my-px-1-md{
        padding-left:4px!important;
        padding-right:4px!important;
    }
    .my-px-2-md{
        padding-left:8px!important;
        padding-right:8px!important;
    }
    .my-px-3-md{
        padding-left:12px!important;
        padding-right:12px!important;
    }
    .my-px-4-md{
        padding-left:16px!important;
        padding-right:16px!important;
    }
    .my-px-5-md{
        padding-left:24px!important;
        padding-right:24px!important;
    }
    .my-px-6-md{
        padding-left:32px!important;
        padding-right:32px!important;
    }
    .my-px-7-md{
        padding-left:40px!important;
        padding-right:40px!important;
    }
    .my-px-8-md{
        padding-left:48px!important;
        padding-right:48px!important;
    }
    .my-px-9-md{
        padding-left:60px!important;
        padding-right:60px!important;
    }
}
@include web_570 {
    .my-p-0-sm{
        padding:0px!important;
    }
    .my-p-1-sm{
        padding:4px!important;
    }
    .my-p-2-sm{
        padding:8px!important;
    }
    .my-p-3-sm{
        padding:12px!important;
    }
    .my-p-4-sm{
        padding:16px!important;
    }
    .my-p-5-sm{
        padding:24px!important;
    }
    .my-p-6-sm{
        padding:32px!important;
    }
    .my-p-7-sm{
        padding:40px!important;
    }
    .my-p-8-sm{
        padding:48px!important;
    }
    .my-p-9-sm{
        padding:60px!important;
    }

    /* 更新 padding-top 类 */
    .my-pt-0-sm{
        padding-top:0px!important;
    }
    .my-pt-1-sm{
        padding-top:4px!important;
    }
    .my-pt-2-sm{
        padding-top:8px!important;
    }
    .my-pt-3-sm{
        padding-top:12px!important;
    }
    .my-pt-4-sm{
        padding-top:16px!important;
    }
    .my-pt-5-sm{
        padding-top:24px!important;
    }
    .my-pt-6-sm{
        padding-top:32px!important;
    }
    .my-pt-7-sm{
        padding-top:40px!important;
    }
    .my-pt-8-sm{
        padding-top:48px!important;
    }
    .my-pt-9-sm{
        padding-top:60px!important;
    }

    /* 更新 padding-bottom 类 */
    .my-pb-0-sm{
        padding-bottom:0px!important;
    }
    .my-pb-1-sm{
        padding-bottom:4px!important;
    }
    .my-pb-2-sm{
        padding-bottom:8px!important;
    }
    .my-pb-3-sm{
        padding-bottom:12px!important;
    }
    .my-pb-4-sm{
        padding-bottom:16px!important;
    }
    .my-pb-5-sm{
        padding-bottom:24px!important;
    }
    .my-pb-6-sm{
        padding-bottom:32px!important;
    }
    .my-pb-7-sm{
        padding-bottom:40px!important;
    }
    .my-pb-8-sm{
        padding-bottom:48px!important;
    }
    .my-pb-9-sm{
        padding-bottom:60px!important;
    }

    /* 更新 padding-right 类 */
    .my-pr-0-sm{
        padding-right:0px!important;
    }
    .my-pr-1-sm{
        padding-right:4px!important;
    }
    .my-pr-2-sm{
        padding-right:8px!important;
    }
    .my-pr-3-sm{
        padding-right:12px!important;
    }
    .my-pr-4-sm{
        padding-right:16px!important;
    }
    .my-pr-5-sm{
        padding-right:24px!important;
    }
    .my-pr-6-sm{
        padding-right:32px!important;
    }
    .my-pr-7-sm{
        padding-right:40px!important;
    }
    .my-pr-8-sm{
        padding-right:48px!important;
    }
    .my-pr-9-sm{
        padding-right:60px!important;
    }

    /* 更新 padding-left 类 */
    .my-pl-0-sm{
        padding-left:0px!important;
    }
    .my-pl-1-sm{
        padding-left:4px!important;
    }
    .my-pl-2-sm{
        padding-left:8px!important;
    }
    .my-pl-3-sm{
        padding-left:12px!important;
    }
    .my-pl-4-sm{
        padding-left:16px!important;
    }
    .my-pl-5-sm{
        padding-left:24px!important;
    }
    .my-pl-6-sm{
        padding-left:32px!important;
    }
    .my-pl-7-sm{
        padding-left:40px!important;
    }
    .my-pl-8-sm{
        padding-left:48px!important;
    }
    .my-pl-9-sm{
        padding-left:60px!important;
    }

    /* 更新 padding-y 类 */
    .my-py-0-sm{
        padding-top:0px!important;
        padding-bottom:0px!important;
    }
    .my-py-1-sm{
        padding-top:4px!important;
        padding-bottom:4px!important;
    }
    .my-py-2-sm{
        padding-top:8px!important;
        padding-bottom:8px!important;
    }
    .my-py-3-sm{
        padding-top:12px!important;
        padding-bottom:12px!important;
    }
    .my-py-4-sm{
        padding-top:16px!important;
        padding-bottom:16px!important;
    }
    .my-py-5-sm{
        padding-top:24px!important;
        padding-bottom:24px!important;
    }
    .my-py-6-sm{
        padding-top:32px!important;
        padding-bottom:32px!important;
    }
    .my-py-7-sm{
        padding-top:40px!important;
        padding-bottom:40px!important;
    }
    .my-py-8-sm{
        padding-top:48px!important;
        padding-bottom:48px!important;
    }
    .my-py-9-sm{
        padding-top:60px!important;
        padding-bottom:60px!important;
    }

    /* 更新 padding-x 类 */
    .my-px-0-sm{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .my-px-1-sm{
        padding-left:4px!important;
        padding-right:4px!important;
    }
    .my-px-2-sm{
        padding-left:8px!important;
        padding-right:8px!important;
    }
    .my-px-3-sm{
        padding-left:12px!important;
        padding-right:12px!important;
    }
    .my-px-4-sm{
        padding-left:16px!important;
        padding-right:16px!important;
    }
    .my-px-5-sm{
        padding-left:24px!important;
        padding-right:24px!important;
    }
    .my-px-6-sm{
        padding-left:32px!important;
        padding-right:32px!important;
    }
    .my-px-7-sm{
        padding-left:40px!important;
        padding-right:40px!important;
    }
    .my-px-8-sm{
        padding-left:48px!important;
        padding-right:48px!important;
    }
    .my-px-9-sm{
        padding-left:60px!important;
        padding-right:60px!important;
    }
}

//
.my-gap-0{
    gap: 0px!important;
}

.my-gap-1{
    gap: 4px;
}

.my-gap-2{
    gap: 8px;
}

.my-gap-3{
    gap: 12px;
}

.my-gap-4{
    gap: 16px;
}

.my-gap-5{
    gap: 24px;
}
.my-gap-6{
    gap: 32px;
}
.my-gap-7{
    gap: 40px;
}
.my-gap-8{
    gap: 48px;
}
.my-gap-9{
    gap: 60px;
}
@include web_768{
    .my-gap-0-md{
        gap: 0px!important;
    }

    .my-gap-1-md{
        gap: 4px!important;
    }
    
    .my-gap-2-md{
        gap: 8px!important;
    }
    
    .my-gap-3-md{
        gap: 12px!important;
    }
    
    .my-gap-4-md{
        gap: 16px!important;
    }
    .my-gap-5-md{
        gap: 24px!important;
    }
    .my-gap-6-md{
        gap: 32px!important;
    }
    .my-gap-7-md{
        gap: 40px!important;
    }
    .my-gap-8-md{
        gap: 48px!important;
    }
    .my-gap-9-md{
        gap: 60px!important;
    }
}
@include web_570{
    .my-gap-0-sm{
        gap: 0px!important;
    }
    .my-gap-1-sm{
        gap: 4px!important;
    }
    .my-gap-2-sm{
        gap: 8px!important;
    }
    .my-gap-3-sm{
        gap: 12px!important;
    }
    .my-gap-4-sm{
        gap: 16px!important;
    }
    .my-gap-5-sm{
        gap: 24px!important;
    }
    .my-gap-6-sm{
        gap: 32px!important;
    }
    .my-gap-7-sm{
        gap: 40px!important;
    }
    .my-gap-8-sm{
        gap: 48px!important;
    }
    .my-gap-9-sm{
        gap: 60px!important;
    }
}