.my-tag{
    display: block;
    padding: 4px 12px 4px 12px!important;
    border-radius: 100px!important;
    font-size: 12px!important;
    line-height: 140%!important;
    @include web_570{
        padding: 2px 8px 2px 8px!important;
    }
}