@import 'variables';
@import 'breakpoints';
@import 'input';
@import 'flex';

#footer {
    background-color: #D6D9E1;
    .footer-container {
        width: 100%;
        max-width: 1440px;
        padding: 60px 80px 60px 80px;
        margin: 0 auto 0 auto;
        
        @include web_1140{
            padding: 60px 40px 60px 40px;
        }
        @include web_768 {
            padding: 0 0 0 0;
            flex-wrap: wrap;
        }
        .footer-contnet{
            display: flex;
            justify-content: space-between;
            @include web_1400 {
                flex-direction: column;
            }
            .footer-info {
                .footer-info-cummunity {
                    margin: 0 0 40px 0;
                    @include web_768 {
                        margin: 0 0 0 0;
                        padding: 12px 16px 12px 16px;
                    }
                    .footer-cummunity-list{
                        .footer-cummunity-item {
                            margin: 0 12px 0 0;
                            .footer-cummunity-link {
                                display: block;
                                .iconBox{
                                    width: 40px;
                                    height: 40px;
                                    rect{
                                        transition:0.5s;
                                    }
                                    path{
                                        transition:0.5s;
                                    }
                                    img{
                                        width: 40px;
                                        height: 40px;
                                    }
                                    svg.icon_facebook {
                                        &:hover {
                                            rect {
                                                fill: #FFFFFF;
                                            }
                                            path {
                                                fill: #1877F2;
                                            }
                                        }
                                    
                                        @include web_570 {
                                            &:hover {
                                                rect {
                                                    fill: #8993A7;
                                                }
                                                path {
                                                    fill: white;
                                                }
                                            }
                                        }
                                    }
                                    svg.icon_line{
                                        &:hover{ 
                                            rect{
                                                fill:#FFFFFF;
                                            }
                                            path{
                                                fill: #00B900;
                                            }
                                        }
                                        @include web_570 {
                                            &:hover {
                                                rect {
                                                    fill: #8993A7;
                                                }
                                                path {
                                                    fill: white;
                                                }
                                            }
                                        }
                                    }
                                    svg.icon_instagram{
                                        &:hover{
                                            rect{
                                                fill:#FFFFFF;
                                            }
                                            path{
                                                fill:#E1306C;
                                            }
                                        }
                                        @include web_570 {
                                            &:hover {
                                                rect {
                                                    fill: #8993A7;
                                                }
                                                path {
                                                    fill: white;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
                @include web_768 {
                    width: 100%;
                    max-width: 100%;
                }
                .footer-accordion {
                    display: flex;
                    @include web_768 {
                        flex-wrap: wrap;
                    }
                    .footer-accordion-list {
                        min-width: 168px;
                        max-width: 168px;
                        @include web_768 {
                            width: 100%;
                            max-width: 100%;
                            margin: 0;
                            border-bottom: 1px solid #FFFFFF;
                            &:first-child {
                                border-top: 1px solid #FFFFFF;
                            }
                        }
                        .footer-header{
                            display: flex;
                            justify-content: space-between;
                            margin: 0 0 30px 0;
                            @include web_768 {
                                padding: 16px;
                                margin: 0;
                                cursor: pointer;
                            }
                            .footer-header-title {
                                font-size: 16px;
                                color: #434343;
                                @include web_768 {
                                    font-size: 14px;
                                }
                            }
                            .iconBox {
                                display: none;
                                margin: 0 0 0 8px;
                                line-height: 0;
                                @include web_768 {
                                    padding: 0;
                                    display: block;
                                }
                            }
                        }
                        .footer-body {
                            @include web_768 {
                                display: none;
                            }
                            .footer-body-item {
                                margin: 16px 0 0 0;
                                &:last-child {
                                    .footer-body-link {
                                        @include web_768 {
                                            padding: 8px 16px;
                                        }
                                    }
                                }
                                @include web_768 {
                                    margin: 0;
                                }
                                .footer-body-link {
                                    color: #434343;
                                    display: block;
                                    font-size: 14px;
                                    line-height: 19.6px;
                                    text-decoration: none;
                                    @include web_768 {
                                        padding: 8px 16px;
                                    }
                                }
                            }
                        }
                    }
                    .footer-accordion-list+.footer-accordion-list{
                        margin: 0 0 0 40px;
                        @include web_1140{
                            margin: 0 0 0 24px;
                        }
                        @include web_768{
                            margin: 0 0 0 0;
                        }
                    }
                }
            }
            .footer-logo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: right;
                @include web_1400 {
                    margin: 40px 0 0 0;
                    flex-direction: row;
                    justify-content: space-between;
                }
                @include web_768 {
                    width: 100%;
                    max-width: 100%;
                    margin: 0;
                }
                .footer-logo-text {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    gap: 24px;
                    @include web_1400 {
                        align-items: start;
                        text-align: left;
                        margin: 0 40px 0 0;
                    }
                    @include web_768 {
                        display: none;
                    }
                    .logo {
                        font-size: 0px;
                        img,svg {
                            width: auto;
                            height: 50px;
                        }
                    }
                    .text {
                        width: 100%;
                        max-width: 390px;
                        font-size: 14px;
                        line-height: 160%;
                        text-align: right;
                        // text-align: justify;
                        // direction: rtl;
                        color: #1D1F25;
                        @include web_1400{
                            text-align: left;
                            // direction: initial;
                        }
                    }
                }
                .mail-copyright {
                    font-size: 0px;
                    @include web_1600 {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                    }
                    @include web_768 {
                        width: 100%;
                        max-width: 100%;
                    }
                    .app {
                        margin: 40px 0 0 0;
                        @include web_1400 {
                            margin: 0;
                        }
                        @include web_768 {
                            margin: 0;
                            padding: 12px 16px;
                        }
                        ul {
                            gap: 12px;
                            @include web_768 {
                                justify-content: center!important;
                            }
                            li {
                                a {
                                    display: block;
                                    img {
                                        width: 100%;
                                        max-width: 105px;
                                        max-height: 31px;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                    }
                    .mail {
                        display: flex;
                        justify-content: right;
                        margin: 16px 0 0 0;
                        min-height: 40px;
                        @include web_768 {
                            justify-content: center;
                            margin: 0 0 0 0;
                            padding: 0 16px 12px;
                        }
                        .my-input-group{
                            background-color: #B3B9C6;
                            max-width: 343px;
                            .my-input-text{
                                font-size: 16px;
                                transform: scale(0.85);
                                transform-origin: left;
                                min-width: 260px;
                            }
                            .my-input-btn-text{
                                transform: translate(-40%, 0);
                            }
                        }
                    }
                    .copyright {
                        margin: 16px 0 0 0;
                        @include web_768 {
                            margin: 0;
                            padding: 12px 16px;
                            background-color: #FFFFFF;
                        }
                        p {
                            font-size: 15px;
                            line-height: 140%;
                            opacity: 0.4;
                            @include web_768 {
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        // 儲值頁先調整
        .iconPic{
            margin: 16px 0 0 0;
            @include web_1400{
                margin: 40px 0 0 0;
            }
            @include web_768{
                margin: 0 0 0 0;
                padding: 0px 16px 12px;
            }
            .iconPic-list{
                display: flex;
                .iconPic-item{
                    img{
                        width: auto;
                        max-height: 31px;
                        border-radius: 4px;
                    }
                }
            }
        }
        .iconPic-pc{
            @include web_768{
                display: none;
            }
        }
        .iconPic-mb{
            display: none;
            @include web_768{
                display: block;
            }
            .iconPic-list{
                justify-content: center;
            }
        }
    }
}
#my-footer.add-mb4{
    margin: 0 0 40px 0;
    @include web_570{
        margin: 0 0 46px 0;
    }
}

