@charset "UTF-8";
.my-bg-my-primary-950 {
  background-color: #0B2846 !important;
}

.my-bg-my-primary-900 {
  background-color: #10406A !important;
}

.my-bg-my-primary-800 {
  background-color: #0C4B80 !important;
}

.my-bg-my-primary-700 {
  background-color: #0A599A !important;
}

.my-bg-my-primary-600 {
  background-color: #0A6FBF !important;
}

.my-bg-my-primary-500 {
  background-color: #178DE0 !important;
}

.my-bg-my-primary-400 {
  background-color: #4FAFF1 !important;
}

.my-bg-my-primary-300 {
  background-color: #82C5F7 !important;
}

.my-bg-my-primary-200 {
  background-color: #BDDFFA !important;
}

.my-bg-my-primary-100 {
  background-color: #E1EFFD !important;
}

.my-bg-my-primary-50 {
  background-color: #F1F8FE !important;
}

.my-bg-my-secondary-950 {
  background-color: #1D1F25 !important;
}

.my-bg-my-secondary-900 {
  background-color: #363A44 !important;
}

.my-bg-my-secondary-800 {
  background-color: #3C4250 !important;
}

.my-bg-my-secondary-700 {
  background-color: #464D5E !important;
}

.my-bg-my-secondary-600 {
  background-color: #565F73 !important;
}

.my-bg-my-secondary-500 {
  background-color: #6B768C !important;
}

.my-bg-my-secondary-400 {
  background-color: #8993A7 !important;
}

.my-bg-my-secondary-300 {
  background-color: #B3B9C6 !important;
}

.my-bg-my-secondary-200 {
  background-color: #D6D9E1 !important;
}

.my-bg-my-secondary-100 {
  background-color: #EDEEF1 !important;
}

.my-bg-my-secondary-50 {
  background-color: #F6F7F9 !important;
}

.my-bg-my-grey-950 {
  background-color: #262626 !important;
}

.my-bg-my-grey-900 {
  background-color: #313131 !important;
}

.my-bg-my-grey-800 {
  background-color: #383838 !important;
}

.my-bg-my-grey-700 {
  background-color: #434343 !important;
}

.my-bg-my-grey-600 {
  background-color: #515151 !important;
}

.my-bg-my-grey-500 {
  background-color: #666666 !important;
}

.my-bg-my-grey-400 {
  background-color: #818181 !important;
}

.my-bg-my-grey-300 {
  background-color: #A4A4A4 !important;
}

.my-bg-my-grey-200 {
  background-color: #C8C8C8 !important;
}

.my-bg-my-grey-100 {
  background-color: #E3E3E3 !important;
}

.my-bg-my-grey-50 {
  background-color: #F7F7F7 !important;
}

.my-bg-my-grey-0 {
  background-color: #FFFFFF !important;
}

.my-bg-my-success-950 {
  background-color: #0B2B08 !important;
}

.my-bg-my-success-900 {
  background-color: #1F4E19 !important;
}

.my-bg-my-success-800 {
  background-color: #255F1C !important;
}

.my-bg-my-success-700 {
  background-color: #29781D !important;
}

.my-bg-my-success-600 {
  background-color: #309920 !important;
}

.my-bg-my-success-500 {
  background-color: #47CB32 !important;
}

.my-bg-my-success-400 {
  background-color: #67D355 !important;
}

.my-bg-my-success-300 {
  background-color: #9BE78E !important;
}

.my-bg-my-success-200 {
  background-color: #C7F3BF !important;
}

.my-bg-my-success-100 {
  background-color: #E2FADE !important;
}

.my-bg-my-success-50 {
  background-color: #F4FCF1 !important;
}

.my-bg-my-errorNote-950 {
  background-color: #481007 !important;
}

.my-bg-my-errorNote-900 {
  background-color: #842718 !important;
}

.my-bg-my-errorNote-800 {
  background-color: #A02714 !important;
}

.my-bg-my-errorNote-700 {
  background-color: #C12C14 !important;
}

.my-bg-my-errorNote-600 {
  background-color: #E5381D !important;
}

.my-bg-my-errorNote-500 {
  background-color: #F8553B !important;
}

.my-bg-my-errorNote-400 {
  background-color: #FF735D !important;
}

.my-bg-my-errorNote-300 {
  background-color: #FFADA0 !important;
}

.my-bg-my-errorNote-200 {
  background-color: #FFCFC7 !important;
}

.my-bg-my-errorNote-100 {
  background-color: #FFE5E1 !important;
}

.my-bg-my-errorNote-50 {
  background-color: #FFF3F1 !important;
}

.my-text-my-primary-950 {
  color: #0B2846 !important;
}

.my-text-my-primary-900 {
  color: #10406A !important;
}

.my-text-my-primary-800 {
  color: #0C4B80 !important;
}

.my-text-my-primary-700 {
  color: #0A599A !important;
}

.my-text-my-primary-600 {
  color: #0A6FBF !important;
}

.my-text-my-primary-500 {
  color: #178DE0 !important;
}

.my-text-my-primary-400 {
  color: #4FAFF1 !important;
}

.my-text-my-primary-300 {
  color: #82C5F7 !important;
}

.my-text-my-primary-200 {
  color: #BDDFFA !important;
}

.my-text-my-primary-100 {
  color: #E1EFFD !important;
}

.my-text-my-primary-50 {
  color: #F1F8FE !important;
}

.my-text-my-secondary-950 {
  color: #1D1F25 !important;
}

.my-text-my-secondary-900 {
  color: #363A44 !important;
}

.my-text-my-secondary-800 {
  color: #3C4250 !important;
}

.my-text-my-secondary-700 {
  color: #464D5E !important;
}

.my-text-my-secondary-600 {
  color: #565F73 !important;
}

.my-text-my-secondary-500 {
  color: #6B768C !important;
}

.my-text-my-secondary-400 {
  color: #8993A7 !important;
}

.my-text-my-secondary-300 {
  color: #B3B9C6 !important;
}

.my-text-my-secondary-200 {
  color: #D6D9E1 !important;
}

.my-text-my-secondary-100 {
  color: #EDEEF1 !important;
}

.my-text-my-secondary-50 {
  color: #F6F7F9 !important;
}

.my-text-my-grey-950 {
  color: #262626 !important;
}

.my-text-my-grey-900 {
  color: #313131 !important;
}

.my-text-my-grey-800 {
  color: #383838 !important;
}

.my-text-my-grey-700 {
  color: #434343 !important;
}

.my-text-my-grey-600 {
  color: #515151 !important;
}

.my-text-my-grey-500 {
  color: #666666 !important;
}

.my-text-my-grey-400 {
  color: #818181 !important;
}

.my-text-my-grey-300 {
  color: #A4A4A4 !important;
}

.my-text-my-grey-200 {
  color: #C8C8C8 !important;
}

.my-text-my-grey-100 {
  color: #E3E3E3 !important;
}

.my-text-my-grey-50 {
  color: #F7F7F7 !important;
}

.my-text-my-grey-0 {
  color: #FFFFFF !important;
}

.my-text-my-success-950 {
  color: #0B2B08 !important;
}

.my-text-my-success-900 {
  color: #1F4E19 !important;
}

.my-text-my-success-800 {
  color: #255F1C !important;
}

.my-text-my-success-700 {
  color: #29781D !important;
}

.my-text-my-success-600 {
  color: #309920 !important;
}

.my-text-my-success-500 {
  color: #47CB32 !important;
}

.my-text-my-success-400 {
  color: #67D355 !important;
}

.my-text-my-success-300 {
  color: #9BE78E !important;
}

.my-text-my-success-200 {
  color: #C7F3BF !important;
}

.my-text-my-success-100 {
  color: #E2FADE !important;
}

.my-text-my-success-50 {
  color: #F4FCF1 !important;
}

.my-text-my-errorNote-950 {
  color: #481007 !important;
}

.my-text-my-errorNote-900 {
  color: #842718 !important;
}

.my-text-my-errorNote-800 {
  color: #A02714 !important;
}

.my-text-my-errorNote-700 {
  color: #C12C14 !important;
}

.my-text-my-errorNote-600 {
  color: #E5381D !important;
}

.my-text-my-errorNote-500 {
  color: #F8553B !important;
}

.my-text-my-errorNote-400 {
  color: #FF735D !important;
}

.my-text-my-errorNote-300 {
  color: #FFADA0 !important;
}

.my-text-my-errorNote-200 {
  color: #FFCFC7 !important;
}

.my-text-my-errorNote-100 {
  color: #FFE5E1 !important;
}

.my-text-my-errorNote-50 {
  color: #FFF3F1 !important;
}

.my-border-my-primary-950 {
  border-color: #0B2846 !important;
}

.my-border-my-primary-900 {
  border-color: #10406A !important;
}

.my-border-my-primary-800 {
  border-color: #0C4B80 !important;
}

.my-border-my-primary-700 {
  border-color: #0A599A !important;
}

.my-border-my-primary-600 {
  border-color: #0A6FBF !important;
}

.my-border-my-primary-500 {
  border-color: #178DE0 !important;
}

.my-border-my-primary-400 {
  border-color: #4FAFF1 !important;
}

.my-border-my-primary-300 {
  border-color: #82C5F7 !important;
}

.my-border-my-primary-200 {
  border-color: #BDDFFA !important;
}

.my-border-my-primary-100 {
  border-color: #E1EFFD !important;
}

.my-border-my-primary-50 {
  border-color: #F1F8FE !important;
}

.my-border-my-secondary-950 {
  border-color: #1D1F25 !important;
}

.my-border-my-secondary-900 {
  border-color: #363A44 !important;
}

.my-border-my-secondary-800 {
  border-color: #3C4250 !important;
}

.my-border-my-secondary-700 {
  border-color: #464D5E !important;
}

.my-border-my-secondary-600 {
  border-color: #565F73 !important;
}

.my-border-my-secondary-500 {
  border-color: #6B768C !important;
}

.my-border-my-secondary-400 {
  border-color: #8993A7 !important;
}

.my-border-my-secondary-300 {
  border-color: #B3B9C6 !important;
}

.my-border-my-secondary-200 {
  border-color: #D6D9E1 !important;
}

.my-border-my-secondary-100 {
  border-color: #EDEEF1 !important;
}

.my-border-my-secondary-50 {
  border-color: #F6F7F9 !important;
}

.my-border-my-grey-950 {
  border-color: #262626 !important;
}

.my-border-my-grey-900 {
  border-color: #313131 !important;
}

.my-border-my-grey-800 {
  border-color: #383838 !important;
}

.my-border-my-grey-700 {
  border-color: #434343 !important;
}

.my-border-my-grey-600 {
  border-color: #515151 !important;
}

.my-border-my-grey-500 {
  border-color: #666666 !important;
}

.my-border-my-grey-400 {
  border-color: #818181 !important;
}

.my-border-my-grey-300 {
  border-color: #A4A4A4 !important;
}

.my-border-my-grey-200 {
  border-color: #C8C8C8 !important;
}

.my-border-my-grey-100 {
  border-color: #E3E3E3 !important;
}

.my-border-my-grey-50 {
  border-color: #F7F7F7 !important;
}

.my-border-my-grey-0 {
  border-color: #FFFFFF !important;
}

.my-border-my-success-950 {
  border-color: #0B2B08 !important;
}

.my-border-my-success-900 {
  border-color: #1F4E19 !important;
}

.my-border-my-success-800 {
  border-color: #255F1C !important;
}

.my-border-my-success-700 {
  border-color: #29781D !important;
}

.my-border-my-success-600 {
  border-color: #309920 !important;
}

.my-border-my-success-500 {
  border-color: #47CB32 !important;
}

.my-border-my-success-400 {
  border-color: #67D355 !important;
}

.my-border-my-success-300 {
  border-color: #9BE78E !important;
}

.my-border-my-success-200 {
  border-color: #C7F3BF !important;
}

.my-border-my-success-100 {
  border-color: #E2FADE !important;
}

.my-border-my-success-50 {
  border-color: #F4FCF1 !important;
}

.my-border-my-errorNote-950 {
  border-color: #481007 !important;
}

.my-border-my-errorNote-900 {
  border-color: #842718 !important;
}

.my-border-my-errorNote-800 {
  border-color: #A02714 !important;
}

.my-border-my-errorNote-700 {
  border-color: #C12C14 !important;
}

.my-border-my-errorNote-600 {
  border-color: #E5381D !important;
}

.my-border-my-errorNote-500 {
  border-color: #F8553B !important;
}

.my-border-my-errorNote-400 {
  border-color: #FF735D !important;
}

.my-border-my-errorNote-300 {
  border-color: #FFADA0 !important;
}

.my-border-my-errorNote-200 {
  border-color: #FFCFC7 !important;
}

.my-border-my-errorNote-100 {
  border-color: #FFE5E1 !important;
}

.my-border-my-errorNote-50 {
  border-color: #FFF3F1 !important;
}

/*rwd*/
/*輸入欄位*/
.my-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  background-color: #F7F7F7;
  overflow: hidden;
}

.my-input-text {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  margin: 0 8px 0 16px;
  color: #3C4250;
}
.my-input-text::-moz-placeholder {
  color: #3C4250;
}
.my-input-text::placeholder {
  color: #3C4250;
}
.my-input-text:focus {
  outline: none;
  color: #1D1F25;
}
.my-input-text:hover {
  color: #1D1F25;
}

.my-input-btn-text {
  cursor: pointer;
  font-size: 13px;
  line-height: 120%;
  padding: 0 16px 0 16px;
  margin: 0 4px 0 0;
  border-radius: 100px;
  height: 32px;
  color: #3C4250;
  background-color: #EDEEF1;
  transition: 0.5s;
}
.my-input-btn-text:hover {
  background-color: #FFFFFF;
}

.my-input-btn-icon {
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.my-input-btn-icon .iconBox svg {
  width: 24px;
  height: 24px;
}

.my-input-btn-icon-r6 {
  border-radius: 6px 6px 6px 6px !important;
}

.my-input-btn-icon-r100 {
  border-radius: 100px 100px 100px 100px !important;
}

.my-input-btn-icon-secondary {
  background-color: #EDEEF1;
}
.my-input-btn-icon-secondary:hover {
  background-color: #D6D9E1;
}
.my-input-btn-icon-secondary .iconBox svg.icon_forward path {
  fill: #565F73;
}

.my-input-btn-icon-primary {
  background-color: #4FAFF1;
}
.my-input-btn-icon-primary:hover {
  background-color: #178DE0;
}

@media (max-width: 768px) {
  .my-input-btn-icon-primary-sm {
    background-color: #4FAFF1 !important;
  }
  .my-input-btn-icon-primary-sm:hover {
    background-color: #178DE0 !important;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .my-input-btn-icon-primary-sm .iconBox .icon_forward path {
    fill: #fff !important;
  }
}

.my-d-inlineBlock {
  display: inline-block !important;
}

.my-d-flex {
  display: flex !important;
}

.my-hide {
  display: none !important;
}

.my-show {
  display: block !important;
}

.my-d-block {
  display: block !important;
}

.my-d-none {
  display: none !important;
}

@media (max-width: 768px) {
  .my-hide-md {
    display: none !important;
  }
  .my-show-md {
    display: block !important;
  }
  .my-d-flex-md {
    display: flex !important;
  }
}
@media (max-width: 570px) {
  .my-hide-sm {
    display: none !important;
  }
  .my-show-sm {
    display: block !important;
  }
  .my-d-flex-sm {
    display: flex !important;
  }
  .my-d-block-sm {
    display: block !important;
  }
}
.my-justify-content-start {
  justify-content: flex-start !important;
}

.my-justify-content-end {
  justify-content: flex-end !important;
}

.my-justify-content-center {
  justify-content: center !important;
}

.my-justify-content-between {
  justify-content: space-between !important;
}

.my-justify-content-around {
  justify-content: space-around !important;
}

.my-justify-content-evenly {
  justify-content: space-evenly !important;
}

@media (max-width: 900px) {
  .my-justify-content-start-lg {
    justify-content: flex-start !important;
  }
  .my-justify-content-end-lg {
    justify-content: flex-end !important;
  }
  .my-justify-content-center-lg {
    justify-content: center !important;
  }
  .my-justify-content-between-lg {
    justify-content: space-between !important;
  }
  .my-justify-content-around-lg {
    justify-content: space-around !important;
  }
  .my-justify-content-evenly-lg {
    justify-content: space-evenly !important;
  }
}
@media (max-width: 768px) {
  .my-justify-content-start-md {
    justify-content: flex-start !important;
  }
  .my-justify-content-end-md {
    justify-content: flex-end !important;
  }
  .my-justify-content-center-md {
    justify-content: center !important;
  }
  .my-justify-content-between-md {
    justify-content: space-between !important;
  }
  .my-justify-content-around-md {
    justify-content: space-around !important;
  }
  .my-justify-content-evenly-md {
    justify-content: space-evenly !important;
  }
}
@media (max-width: 570px) {
  .my-justify-content-start-sm {
    justify-content: flex-start !important;
  }
  .my-justify-content-end-sm {
    justify-content: flex-end !important;
  }
  .my-justify-content-center-sm {
    justify-content: center !important;
  }
  .my-justify-content-between-sm {
    justify-content: space-between !important;
  }
  .my-justify-content-around-sm {
    justify-content: space-around !important;
  }
  .my-justify-content-evenly-sm {
    justify-content: space-evenly !important;
  }
}
.my-flex-row {
  flex-direction: row !important;
}

.my-flex-row-reverse {
  flex-direction: row-reverse !important;
}

.my-flex-column {
  flex-direction: column !important;
}

.my-flex-column-reverse {
  flex-direction: column-reverse !important;
}

@media (max-width: 1140px) {
  .my-flex-row-xl {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-xl {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-xl {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-xl {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 900px) {
  .my-flex-row-lg {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-lg {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-lg {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-lg {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 768px) {
  .my-flex-row-md {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-md {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-md {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-md {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 570px) {
  .my-flex-row-sm {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-sm {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-sm {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-sm {
    flex-direction: column-reverse !important;
  }
}
.my-align-content-start {
  align-items: start !important;
}

.my-align-content-end {
  align-items: end !important;
}

.my-align-content-center {
  align-items: center !important;
}

.my-align-content-around {
  align-items: space-around !important;
}

.my-align-content-stretch {
  align-items: stretch !important;
}

@media (max-width: 570px) {
  .my-align-content-start-sm {
    align-items: start !important;
  }
  .my-align-content-end-sm {
    align-items: end !important;
  }
  .my-align-content-center-sm {
    align-items: center !important;
  }
  .my-align-content-around-sm {
    align-items: space-around !important;
  }
  .my-align-content-stretch-sm {
    align-items: stretch !important;
  }
}
.my-flex-wrap {
  flex-wrap: wrap !important;
}

.my-flex-nowrap {
  flex-wrap: nowrap !important;
}

.my-flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

@media (max-width: 570px) {
  .my-flex-wrap-sm {
    flex-wrap: wrap !important;
  }
  .my-flex-nowrap-sm {
    flex-wrap: nowrap !important;
  }
  .my-flex-wrap-reverse-sm {
    flex-wrap: wrap-reverse !important;
  }
}
.my-flex-fill {
  flex: 1 1 auto !important;
  max-width: 100% !important;
}

.my-flex-grow-1 {
  flex-grow: 1 !important;
}

.my-flex-shrink-1 {
  flex-shrink: 1 !important;
}

.my-w50 {
  width: 50% !important;
}

.my-w100 {
  width: 100% !important;
}

.my-wmax100 {
  max-width: 100% !important;
}

.my-wauto {
  width: auto !important;
}

.my-h100 {
  height: 100% !important;
}

.my-hmin-initial {
  min-height: initial !important;
}

.my-vh-100 {
  height: 100vh !important;
}

.my-h-initial {
  height: initial !important;
}

.my-wmin-100px {
  min-width: 100px;
}

@media (max-width: 768px) {
  .my-flex-fill-md {
    flex: 1 1 auto !important;
    max-width: 100% !important;
  }
  .my-wmax100-md {
    max-width: 100% !important;
  }
  .my-w100-md {
    width: 100% !important;
  }
  .my-wauto-md {
    width: auto !important;
  }
}
@media (max-width: 570px) {
  .my-flex-fill-sm {
    flex: 1 1 auto !important;
    max-width: 100% !important;
  }
  .my-wmax100-sm {
    max-width: 100% !important;
  }
  .my-w100-sm {
    width: 100% !important;
  }
  .my-wauto-sm {
    width: auto !important;
  }
  .my-h-initial-sm {
    height: initial !important;
  }
}
.my-column-2 {
  width: 100% !important;
  max-width: 50% !important;
}

.my-column-3 {
  width: 100% !important;
  max-width: 33.3333333333% !important;
}

@media (max-width: 570px) {
  .my-column-1-sm {
    width: 100% !important;
    max-width: 100% !important;
  }
  .my-column-2-sm {
    width: 100% !important;
    max-width: 50% !important;
  }
  .my-column-3-sm {
    width: 100% !important;
    max-width: 33.3333333333% !important;
  }
  .my-column-4-sm {
    width: 100% !important;
    max-width: 25% !important;
  }
}
.my-gap-0 {
  gap: 0px !important;
}

@media (max-width: 570px) {
  .my-gap-0-sm {
    gap: 0px !important;
  }
}
#footer {
  background-color: #D6D9E1;
}
#footer .footer-container {
  width: 100%;
  max-width: 1440px;
  padding: 60px 80px 60px 80px;
  margin: 0 auto 0 auto;
}
@media (max-width: 1400px) {
  #footer .footer-container {
    flex-direction: column;
  }
}
@media (max-width: 1140px) {
  #footer .footer-container {
    padding: 60px 40px 60px 40px;
  }
}
@media (max-width: 768px) {
  #footer .footer-container {
    padding: 0 0 0 0;
    flex-wrap: wrap;
  }
}
#footer .footer-container .footer-info .footer-info-cummunity {
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-info-cummunity {
    margin: 0 0 0 0;
    padding: 12px 16px 12px 16px;
  }
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item {
  margin: 0 12px 0 0;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link {
  display: block;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox {
  width: 40px;
  height: 40px;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox rect {
  transition: 0.5s;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox path {
  transition: 0.5s;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox img {
  width: 40px;
  height: 40px;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_facebook:hover rect {
  fill: #FFFFFF;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_facebook:hover path {
  fill: #1877F2;
}
@media (max-width: 570px) {
  #footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_facebook:hover rect {
    fill: #8993A7;
  }
  #footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_facebook:hover path {
    fill: white;
  }
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_line:hover rect {
  fill: #FFFFFF;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_line:hover path {
  fill: #00B900;
}
@media (max-width: 570px) {
  #footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_line:hover rect {
    fill: #8993A7;
  }
  #footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_line:hover path {
    fill: white;
  }
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_instagram:hover rect {
  fill: #FFFFFF;
}
#footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_instagram:hover path {
  fill: #E1306C;
}
@media (max-width: 570px) {
  #footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_instagram:hover rect {
    fill: #8993A7;
  }
  #footer .footer-container .footer-info .footer-info-cummunity .footer-cummunity-list .footer-cummunity-item .footer-cummunity-link .iconBox svg.icon_instagram:hover path {
    fill: white;
  }
}
#footer .footer-container .footer-info .footer-info-cummunity .fidologo {
  display: none;
  width: 100%;
  max-width: 65px;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-info-cummunity .fidologo {
    display: block;
  }
}
#footer .footer-container .footer-info .footer-info-cummunity .fidologo img {
  width: 100%;
  max-width: 100%;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info {
    width: 100%;
    max-width: 100%;
  }
}
#footer .footer-container .footer-info .footer-accordion {
  display: flex;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion {
    flex-wrap: wrap;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list {
  min-width: 168px;
  max-width: 168px;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-bottom: 1px solid #FFFFFF;
  }
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list:first-child {
    border-top: 1px solid #FFFFFF;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-header {
    padding: 16px;
    margin: 0;
    cursor: pointer;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-header .footer-header-title {
  font-size: 16px;
  color: #363A44;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-header .footer-header-title {
    font-size: 14px;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-header .iconBox {
  display: none;
  margin: 0 0 0 8px;
  line-height: 0;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-header .iconBox {
    padding: 0;
    display: block;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-body {
    display: none;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-body .footer-body-item {
  margin: 16px 0 0 0;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-body .footer-body-item:last-child .footer-body-link {
    padding: 8px 16px;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-body .footer-body-item {
    margin: 0;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-body .footer-body-item .footer-body-link {
  color: #434343;
  display: block;
  font-size: 14px;
  line-height: 19.6px;
  text-decoration: none;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list .footer-body .footer-body-item .footer-body-link {
    padding: 8px 16px;
  }
}
#footer .footer-container .footer-info .footer-accordion .footer-accordion-list + .footer-accordion-list {
  margin: 0 0 0 40px;
}
@media (max-width: 1140px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list + .footer-accordion-list {
    margin: 0 0 0 24px;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-info .footer-accordion .footer-accordion-list + .footer-accordion-list {
    margin: 0 0 0 0;
  }
}
#footer .footer-container .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
@media (max-width: 1400px) {
  #footer .footer-container .footer-logo {
    margin: 40px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
#footer .footer-container .footer-logo .footer-logo-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
}
@media (max-width: 1400px) {
  #footer .footer-container .footer-logo .footer-logo-text {
    align-items: start;
    text-align: left;
    margin: 0 40px 0 0;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .footer-logo-text {
    display: none;
  }
}
#footer .footer-container .footer-logo .footer-logo-text .logo {
  font-size: 0px;
}
#footer .footer-container .footer-logo .footer-logo-text .logo img, #footer .footer-container .footer-logo .footer-logo-text .logo svg {
  width: auto;
  height: 50px;
}
#footer .footer-container .footer-logo .footer-logo-text .fidologo {
  width: 50px;
}
@media (max-width: 570px) {
  #footer .footer-container .footer-logo .footer-logo-text .fidologo {
    display: none;
  }
}
#footer .footer-container .footer-logo .footer-logo-text .fidologo img {
  max-width: 100%;
}
#footer .footer-container .footer-logo .footer-logo-text .text {
  width: 100%;
  max-width: 390px;
  font-size: 14px;
  line-height: 160%;
  text-align: right;
  color: #1D1F25;
}
@media (max-width: 1400px) {
  #footer .footer-container .footer-logo .footer-logo-text .text {
    text-align: left;
  }
}
#footer .footer-container .footer-logo .mail-copyright {
  font-size: 0px;
}
@media (max-width: 1600px) {
  #footer .footer-container .footer-logo .mail-copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .mail-copyright {
    width: 100%;
    max-width: 100%;
  }
}
#footer .footer-container .footer-logo .mail-copyright .app {
  margin: 40px 0 0 0;
}
@media (max-width: 1400px) {
  #footer .footer-container .footer-logo .mail-copyright .app {
    margin: 0;
  }
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .mail-copyright .app {
    margin: 0;
    padding: 12px 16px;
  }
}
#footer .footer-container .footer-logo .mail-copyright .app ul {
  gap: 12px;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .mail-copyright .app ul {
    justify-content: center !important;
  }
}
#footer .footer-container .footer-logo .mail-copyright .app ul li a {
  display: block;
}
#footer .footer-container .footer-logo .mail-copyright .app ul li a img {
  width: 100%;
  max-width: 105px;
  max-height: 31px;
  border-radius: 5px;
}
#footer .footer-container .footer-logo .mail-copyright .mail {
  display: flex;
  justify-content: right;
  margin: 16px 0 0 0;
  min-height: 40px;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .mail-copyright .mail {
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 16px 12px;
  }
}
#footer .footer-container .footer-logo .mail-copyright .mail .my-input-group {
  background-color: #B3B9C6;
  max-width: 343px;
}
#footer .footer-container .footer-logo .mail-copyright .mail .my-input-group .my-input-text {
  font-size: 16px;
  transform: scale(0.85);
  transform-origin: left;
  min-width: 260px;
}
#footer .footer-container .footer-logo .mail-copyright .mail .my-input-group .my-input-btn-text {
  transform: translate(-40%, 0);
}
#footer .footer-container .footer-logo .mail-copyright .copyright {
  margin: 16px 0 0 0;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .mail-copyright .copyright {
    margin: 0;
    padding: 12px 16px;
    background-color: #FFFFFF;
  }
}
#footer .footer-container .footer-logo .mail-copyright .copyright p {
  font-size: 15px;
  line-height: 140%;
  opacity: 0.4;
}
@media (max-width: 768px) {
  #footer .footer-container .footer-logo .mail-copyright .copyright p {
    font-size: 12px;
    text-align: center;
  }
}

#my-footer.add-mb4 {
  margin: 0 0 40px 0;
}
@media (max-width: 570px) {
  #my-footer.add-mb4 {
    margin: 0 0 46px 0;
  }
}/*# sourceMappingURL=footer.css.map */