    @import 'variables';
@import 'breakpoints';
@import 'input';
@import 'flex';

@mixin my-font-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
:root {
    --header-icon-color: #565F73;
    --header-icon-active-color: #363A44;
}
//導覽列
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: map-get(map-get($colors, my-grey), "0");
    padding: 10px 40px;
    z-index: 101;
    border-bottom: 1px solid map-get(map-get($colors, my-grey), "50");
    @include web_1140{
        padding: 5px 16px;
    }
    .header-container {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: space-between;
        .header-navbar {
            display: flex;
            align-items: center;
            margin: 0 40px 0 0;
            .header-navbar-icon {
                margin: 0 8px 0 0;
                line-height: 0;
                @include web_570 {
                    margin: 0 6px 0 0;
                }
                .icon_menu {
                    display: block;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    svg{
                        width: 24px;
                        height: 24px;
                        path{
                            stroke: map-get(map-get($colors, my-secondary), "600");
                        }
                    }
                }
            }
            .header-logo {
                font-size: 0px;
                .icon_logo{
                    line-height: initial;
                    display: flex;
                    align-items: center;
                    img,svg{
                        width: auto;
                        height: 28px;
                    }
                }
            }
            .header-list-one {
                display: flex;
                align-items: center;
                height: 40px;
                @include web_1400 {
                    display: none;
                }
                .header-item  {
                    margin: 0 0 0 40px;
                    line-height: 0;
                    position: relative;
                    .header-list-link {
                        position: relative;
                        text-decoration: none;
                        font-size: 20px;
                        display: block;
                        line-height: 140%;
                        color: map-get(map-get($colors, my-secondary), "600");
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0px;
                            bottom: -4px;
                            width: 0;
                            max-width: 0;
                            border-bottom: 2px solid map-get(map-get($colors, my-grey), "100");
                            transition: width 0.5s;
                        }
                        &:hover::after {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
        
                    .header-dropDown {
                        position: absolute;
                        top: 32px;
                        left: 0px;
                        padding: 8px 8px 8px 8px;
                        box-shadow: 0px 0px 8px 0px #0000001A;
                        border-radius: 8px;
                        background-color: map-get(map-get($colors, my-grey), "0");
                        display: none;
                        .header-list-second {
                            height: auto;
                            flex-direction: column;
                            .header-item {
                                margin: 0 0 0 0;
                                text-align: left;
                                width: 100%;
                                .header-list-link {
                                    display: block;
                                    padding: 8px 8px 8px 8px;
                                    color: map-get(map-get($colors, my-secondary), "700");
                                    text-decoration: none;
                                    font-size: 13px;
                                    line-height: 140%;
                                    white-space: nowrap;
                                    &:hover {
                                        background-color: map-get(map-get($colors, my-secondary), "50");
                                    }
                                    &::after {
                                        content: '';
                                        position: initial;
                                    }
                                }
                            }
                        }
                    }
                }
                .header-item.active{
                    a{
                        &::after {
                            width: 100%!important;
                            max-width: 100%!important;
                            content: '';
                            position: absolute;
                            left: 0px;
                            bottom: -4px;
                            width: 0;
                            max-width: 0;
                            border-bottom: 2px solid map-get(map-get($colors, my-primary), "400");
                        }
                    }
                }
            }
        }
        
        
        .header-search-login {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 101;
            .header-dropDown {
                width: 100%;
                position: absolute;
                top: 48px;
                right: 0px;
                padding: 8px 8px 8px 8px;
                box-shadow: 0px 0px 8px 0px #0000001A;
                border-radius: 8px;
                background-color: map-get(map-get($colors, my-grey), "0");
                display: none;
                @include web_768 {
                    position: fixed;
                    width: 100%;
                    max-width: 100%;
                    box-shadow: initial;
                    padding: 0 0 0 0;
                    border-radius: initial;
                }
                ul {
                    width: 100%;
                    li {
                        a {
                            display: block;
                            padding: 8px 8px 8px 8px;
                            color: map-get(map-get($colors, my-secondary), "700");
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 140%;
                            white-space: nowrap;
        
                            &:hover {
                                background-color: map-get(map-get($colors, my-secondary), "50");
                            }
        
                            @include web_768 {
                                padding: 10px 16px 10px 16px;
                            }
                        }
                    }
                }
            }
            .header-search {
                width: 360px;
                min-height: 40px;
                position: relative;
                @include web_768 {
                    position: fixed;
                    width: 100%;
                    left: 0px;
                    top: 50px;
                    background: map-get(map-get($colors, my-grey), "0");
                    padding: 16px 16px 16px 16px;
                    display: none;
                }
                .header-search-box {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 4px 4px 4px 8px;
                    border-radius: 100px;
                    overflow: hidden;
                    background-color: map-get(map-get($colors, my-grey), "50");
                    border: 1px solid transparent;
                    &:hover {
                        border: 1px solid map-get(map-get($colors, my-grey), "300");
                    }
                    @include web_768 {
                        padding: 4px 4px 4px 16px;
                    }
                    .iconBox {
                        margin: 0 0 0 0;
                        .icon_search{
                            width: 24px;
                            height: 24px;
                            @include web_768 {
                                display: none;
                            }
                        }
                    }
                    .input{
                        position: absolute;
                        flex: 1;
                        margin: 0 0 0 8px;
                        width: calc(100% - 24px);
                        margin: 0 0 0 24px;
                        background-color: transparent;
                        height:100%;
                        @include web_768{
                            margin: 0 0 0 0;
                            width: 100%;
                        }
                        .inputBox{
                            height: 100%;
                            input[type=search] {
                                position: relative;
                                z-index: 10;
                                width: 100%;
                                height: 100%;
                                border: none;
                                background-color: transparent;
                                flex: 1;
                                font-size: 16px;
                                transform: scale(0.85);
                                transform-origin: left;
                                @include my-font-overflow;
                                -webkit-line-clamp: 1;
                                &:focus {
                                    outline: none;
                                    color: map-get(map-get($colors, my-grey), "900");
                                }
                                &:hover {
                                    color: map-get(map-get($colors, my-grey), "900");
                                }
                                //輸入欄位輸入文字後默認的叉號不顯示
                                &::-webkit-search-cancel-button {
                                    -webkit-appearance: none;
                                }
                            }
                            .textJump {
                                width: 100%;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                z-index: 5;
                                background-color: transparent;
                                overflow-x: hidden!important;
                                font-weight: 200;
                                height: 100%;
                                .swiper {
                                    width: 100%;
                                    height: 30px;
                                    height: 100%;
                                    .swiper-slide {
                                        text-align: left;
                                        font-size: 18px;
                                        display: flex;
                                        align-items: center;
                                        font-size: 13px;
                                        p {
                                            color: map-get(map-get($colors, my-grey), "300");
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .header-search-box.border {
                    border: 1px solid map-get(map-get($colors, my-grey), "300");
                }
                .header-dropDown {
                    width: 100%;
                    max-width: 360px;
                    padding: 16px 16px 16px 16px;
                    border-radius: 16px;
                    display: none;
                    @include web_768 {
                        display: block;
                        position: initial;
                        box-shadow: initial;
                        border-radius: initial;
                        max-width: initial;
                        padding: 0 0 0 0;
                        margin: 12px 0 0 0;
                    }
                    .header-keywords-title {
                        font-weight: initial;
                        margin: 0 0 12px 0;
                        font-size: 14px;
                        line-height: 140%;
                    }
                    .header-keywords-list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                        .header-keywords-item {
                            .header-keywords-link {
                                background-color: map-get(map-get($colors, my-secondary), "100");
                                padding: 6px 12px 6px 12px;
                                border-radius: 100px;
                                white-space: initial;
                            }
                        }
                    }
                }
            }
            .header-search-mb {
                display: none;
                @include web_768 {
                    display: block;
                }
                .iconBox{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    svg.icon_search {
                        width: 24px;
                        height: 24px;
                    }
                }
                .iconBox.click{
                    svg.icon_search {
                        path {
                            fill: map-get(map-get($colors, my-primary), "500");
                        }
                    }
                }
            }
            .header-login {
                position: relative;
                margin: 0 0 0 16px;
                border: 1px solid transparent;
                @include web_768 {
                    margin: initial;
                    border: none;
                }
                .header-login-box {
                    .header-login-icon {
                        cursor: pointer;
                        @include web_768 {
                            display: none!important;
                        }
                        .iconBox{
                            margin: 0 8px 0 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg.icon_account {
                                width: 24px;
                                height: 24px;
                                @include web_768{
                                    filter:initial;
                                    path{
                                        fill:map-get(map-get($colors, my-grey), "900");
                                    }
                                }
                                @include web_768{
                                    margin: 0 0 0 0;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                        .text {
                            @include web_768{
                                display: none;
                            }
                        }
                    }
                }
            }
            .header-login-mb {
                display: none;
                @include web_768 {
                    display: block;
                }
                .iconBox{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    svg.icon_account {
                        width: 24px;
                        height: 24px;
                    }
                }
                .iconBox.click{
                    svg.icon_account {
                        @include web_768{
                            path {
                                fill: map-get(map-get($colors, my-primary), "500");
                            }
                        }
                    }
                    svg.icon_search {
                        path {
                            fill: map-get(map-get($colors, my-primary), "500");
                        }
                    }
                }
            }
            .header-login-face {
                margin: 0 0 0 16px;
                position: relative;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @include web_768{
                    margin: 0 0 0 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: map-get(map-get($colors, my-errorNote), "500");
                    @include web_768 {
                        top: 7px;
                        right: 7px;
                        width: 4px;
                        height: 4px;
                    }
                }
                .header-login-face-box {
                    img {
                        width: 40px;
                        height: 40px;
                        max-width: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 100px;
                        @include web_768 {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}
//搜尋欄
.header-search {
    width: 360px;
    min-height: 40px;
    position: relative;
    @include web_768 {
        position: fixed;
        width: 100%;
        left: 0px;
        top: 50px;
        background: map-get(map-get($colors, my-grey), "0");
        padding: 16px 16px 16px 16px;
        display: none;
    }
    .header-search-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 4px 4px 8px;
        border-radius: 100px;
        overflow: hidden;
        background-color: map-get(map-get($colors, my-grey), "50");
        border: 1px solid transparent;
        &:hover {
            border: 1px solid map-get(map-get($colors, my-grey), "300");
        }
        @include web_768 {
            padding: 4px 4px 4px 16px;
        }
        .iconBox {
            margin: 0 0 0 0;
            .icon_search{
                width: 24px;
                height: 24px;
                @include web_768 {
                    display: none;
                }
            }
        }
        .inputBox{
            position: relative;
            flex: 1;
            margin: 0 0 0 8px;
            @include web_768{
                margin: 0 0 0 0;
            }
            input[type=search] {
                position: relative;
                z-index: 100;
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                flex: 1;
                font-size: 16px;
                transform: scale(0.85);
                transform-origin: left;
                @include my-font-overflow;
                -webkit-line-clamp: 1;
                &:focus {
                    outline: none;
                    color: map-get(map-get($colors, my-grey), "900");
                }
                &:hover {
                    color: map-get(map-get($colors, my-grey), "900");
                }
                //輸入欄位輸入文字後默認的叉號不顯示
                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                }
            }
            .textJump {
                width: 100%;
                position: absolute;
                top: -3px;
                left: 0px;
                z-index: 5;
                background-color: transparent;
                overflow-x: hidden!important;
                font-weight: 200;
            }
            .textJump .swiper {
                width: 100%;
                height: 30px;
            }
            .textJump .swiper-slide {
                text-align: left;
                font-size: 18px;
                display: flex;
                align-items: center;
                font-size: 13px;
            }
            .textJump .swiper-slide p {
                color: map-get(map-get($colors, my-grey), "300");;
            }
        }
    }
    .header-search-box.border {
        border: 1px solid map-get(map-get($colors, my-grey), "300");
    }
    .header-dropDown {
        width: 100%;
        max-width: 360px;
        padding: 16px 16px 16px 16px;
        border-radius: 16px;
        display: none;
        @include web_768 {
            display: block;
            position: initial;
            box-shadow: initial;
            border-radius: initial;
            max-width: initial;
            padding: 0 0 0 0;
            margin: 12px 0 0 0;
        }
        .header-keywords-title {
            font-weight: initial;
            margin: 0 0 12px 0;
            font-size: 14px;
            line-height: 140%;
        }
        .header-keywords-list {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            .header-keywords-item {
                .header-keywords-link {
                    background-color: map-get(map-get($colors, my-secondary), "100");
                    padding: 6px 12px 6px 12px;
                    border-radius: 100px;
                    white-space: initial;
                }
            }
        }
    }
}
//漢堡選單
#ham{
    position: fixed;
    z-index: 150;
    bottom: 0px;
    left: -520px;
    width: 100%;
    height: 100%;
    max-width: 330px;
    transition: 0.5s;
    @include web_570{
        max-width: 250px;
    }
    &.show {
        left: 0 !important;
    }
    .ham-container{
        height: 100%;
        .ham-category.language{
            height: 100%;
            position: fixed;
            z-index: 250;
            bottom: 0px;
            left: -330px;
            width: 100%;
            max-width: 330px;
            transition: 0.3s;
            @include web_570{
                max-width: 250px;
            }
            &.show{
                left: 0px!important;
            }
        }
        .ham-category{
            position: relative;
            z-index: 2;
            width: 100%;
            background-color: map-get(map-get($colors, my-grey), "0");
            padding: 0 0 0 0;
            height: 100%;
            .ham-menu-btn-close{
                padding: 5px 0 5px 0;
                display: flex;
                justify-content: left;
                align-items: center;
                .iconBox{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    padding: 8px 8px 8px 8px;
                    svg{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .ham-menu-btn-return{
                padding: 5px 0 5px 0;
                display: flex;
                justify-content: left;
                align-items: center;
                cursor: pointer;
                .iconBox{
                    width: 40px;
                    height: 40px;
                    padding: 8px 8px 8px 8px;
                    svg.icon_left{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .ham-menu-one{
                padding: 0 0 0 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: calc(100% - 50px);
                .ham-menu-item{
                    &.active{
                        background-color: map-get(map-get($colors, my-secondary), "100");
                        a{
                            .iconText{
                                .iconBox{
                                    svg{
                                        --icon-active-color: var(--header-icon-active-color)!important;
                                        * {
                                            &[fill="currentColor"] {
                                                fill: var(--icon-active-color)!important;
                                            }
                                            &[stroke="currentColor"] {
                                                stroke: var(--icon-active-color)!important;
                                            }
                                        }
                                        rect {
                                            &[fill="currentColor"] {
                                                fill: var(--icon-active-color)!important;
                                            }
                                            &[stroke="currentColor"] {
                                                stroke: var(--icon-active-color)!important;
                                            }
                                        }circle, line, polyline, polygon {
                                            &[fill="currentColor"] {
                                                fill: var(--icon-active-color)!important;
                                            }
                                            &[stroke="currentColor"] {
                                                stroke: var(--icon-active-color)!important;
                                            }
                                        }
                                    }
                                    img{
                                        opacity:1!important;
                                    }
                                }
                                .text{
                                    color: map-get(map-get($colors, my-secondary), "900")!important;
                                    font-weight: 500;
                                }
                            }
                            .iconBox{
                                svg.icon_down{
                                    width: 16px;
                                    height: 16px;
                                    color: var(--header-icon-active-color)!important;
                                }
                            }
                        }
                    }
                }
                .ham-menu-list{
                    overflow-y: auto;
                    background-color: map-get(map-get($colors, my-grey), "0");
                    // max-height: 637px;
                    &::-webkit-scrollbar {
                        width: 12px;
                        @include web_570{
                            width: 6px;
                        }
                    }
                    &::-webkit-scrollbar-button {
                        height: 0px;
                        background: transparent;
                        border-radius: 4px;
                    }
                    &::-webkit-scrollbar-track-piece {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: map-get(map-get($colors, my-grey), "100");
                        border: 4px solid map-get(map-get($colors, my-grey), "0");
                        @include web_570{
                            border: 2px solid map-get(map-get($colors, my-grey), "0");
                        }
                    }
                    &::-webkit-scrollbar-track {
                        background-color:transparent;
                        box-shadow: transparent;
                    }
                    .ham-menu-item{
                        border-bottom: 1px solid map-get(map-get($colors, my-secondary), "100");
                        &:hover{
                            background-color: map-get(map-get($colors, my-secondary), "100");
                        }
                        .ham-menu-link{
                            font-size: 16px;
                            line-height: 48px;
                            padding: 0 16px 0 16px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            text-decoration: none;
                            cursor: pointer;
                            @include web_570{
                                line-height: 41px;
                                font-size: 14px;
                            }
                            .iconText{
                                display: flex;
                                align-items: center;
                                .iconBox{
                                    margin: 0 8px 0 0;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        width: 24px;
                                        height: 24px;
                                        --icon-color: var(--header-icon-color);
                                        * {
                                            &[fill="currentColor"] {
                                                fill: var(--icon-color);
                                            }
                                            &[stroke="currentColor"] {
                                                stroke: var(--icon-color);
                                            }
                                        }rect {
                                            &[fill="currentColor"] {
                                                fill: var(--icon-color);
                                            }
                                            &[stroke="currentColor"] {
                                                stroke: var(--icon-color);
                                            }
                                        }
                                        circle, line, polyline, polygon {
                                            &[fill="currentColor"] {
                                                fill: var(--icon-color);
                                            }
                                            &[stroke="currentColor"] {
                                                stroke: var(--icon-color);
                                            }
                                        }
                                    }
                                    img{
                                        width: 24px;
                                        height: 24px;
                                        opacity: 0.8;
                                    }
                                }
                                .text{
                                    color: #363A44CC;
                                    @include my-font-overflow;
                                    -webkit-line-clamp: 1;
                                }
                            }
                            .iconBox{
                                svg.icon_down{
                                    width: 16px;
                                    height: 16px;
                                    color: var(--header-icon-color);
                                }
                            }
                        }
                        .ham-menu-second{
                            padding: 4px 8px 12px 8px;
                            display: none;
                            .ham-menu-item{
                                border-bottom: initial;
                                .ham-menu-link{
                                    font-size: 14px;
                                    line-height: 36px;
                                    padding: 0 40px 0 40px;
                                    border-radius: 6px;
                                    color: map-get(map-get($colors, my-secondary), "700");
                                    @include my-font-overflow;
                                    -webkit-line-clamp: 1;
                                    &:hover{
                                        background-color: map-get(map-get($colors, my-grey), "0");
                                    }
                                    @include web_570{
                                        font-size: 13px;
                                        line-height: 34px;
                                    }
                                }
                                .ham-menu-link.active{
                                    color: map-get(map-get($colors, my-primary), "500");
                                }
                            }
                        }
                    }
                }
                .ham-menu-language{
                    width: 100%;
                    max-width: 330px;
                    padding: 16px 16px 16px 16px;
                    background-color: map-get(map-get($colors, my-grey), "0");
                    cursor: pointer;
                    @include web_570{
                        max-width: 262px;
                    }
                    .ham-menu-item{
                        width: 100%;
                        max-width: 298px;
                        border-radius: 100px;
                        background-color: map-get(map-get($colors, my-grey), "50");
                        transition: 0.3s;
                        &:hover{
                            background-color: map-get(map-get($colors, my-grey), "100");
                        }
                        .ham-menu-link{
                            display: block;
                            text-decoration: none;
                            font-size: 13px;
                            .iconText{
                                display: flex;
                                align-items: center;
                                height: 40px;
                                padding: 8px 8px 8px 8px;
                                color: map-get(map-get($colors, my-grey), "600");
                                .iconBox{
                                    margin: 0 8px 0 0;
                                    svg{
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                                .text{
                                    @include web_570{
                                        display: none;
                                    }
                                }
                                .text-shortcode{
                                    display: none;
                                    @include web_570{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .ham-img{
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 283px;
            transform: translate(0,-50%);
            @include web_570{
                left: 230px;
            }
            img{
                max-width: 300px;
                max-height: 360px;
                @include web_570{
                    max-width: 190px;
                    max-height: 210px;
                }
            }
        }
    }
    
}
//quick
.my-member-menu{
    overflow-y:initial!important;
    .my-member-quick{
        min-height:initial!important;
        padding:24px 4px 24px 24px;
        background-image: url(../img/member-quick.png);
        .my-member-quickBox{
            max-height: 512px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 6px;
                @include web_570 {
                    width: 2px;
                }
            }
            &::-webkit-scrollbar-thumb {
                border: 4px solid transparent;
                @include web_570 {
                    border: 2px solid transparent;
                }
            }
        }
    }
}
#member_portrait{
    .my-modal-m{
        .my-modal-body-box{
            p{
                margin: 0!important;
                padding: 0!important;
            }
        }
    }
}