@charset "UTF-8";
.my-bg-my-primary-950 {
  background-color: #0B2846 !important;
}

.my-bg-my-primary-900 {
  background-color: #10406A !important;
}

.my-bg-my-primary-800 {
  background-color: #0C4B80 !important;
}

.my-bg-my-primary-700 {
  background-color: #0A599A !important;
}

.my-bg-my-primary-600 {
  background-color: #0A6FBF !important;
}

.my-bg-my-primary-500 {
  background-color: #178DE0 !important;
}

.my-bg-my-primary-400 {
  background-color: #4FAFF1 !important;
}

.my-bg-my-primary-300 {
  background-color: #82C5F7 !important;
}

.my-bg-my-primary-200 {
  background-color: #BDDFFA !important;
}

.my-bg-my-primary-100 {
  background-color: #E1EFFD !important;
}

.my-bg-my-primary-50 {
  background-color: #F1F8FE !important;
}

.my-bg-my-secondary-950 {
  background-color: #1D1F25 !important;
}

.my-bg-my-secondary-900 {
  background-color: #363A44 !important;
}

.my-bg-my-secondary-800 {
  background-color: #3C4250 !important;
}

.my-bg-my-secondary-700 {
  background-color: #464D5E !important;
}

.my-bg-my-secondary-600 {
  background-color: #565F73 !important;
}

.my-bg-my-secondary-500 {
  background-color: #6B768C !important;
}

.my-bg-my-secondary-400 {
  background-color: #8993A7 !important;
}

.my-bg-my-secondary-300 {
  background-color: #B3B9C6 !important;
}

.my-bg-my-secondary-200 {
  background-color: #D6D9E1 !important;
}

.my-bg-my-secondary-100 {
  background-color: #EDEEF1 !important;
}

.my-bg-my-secondary-50 {
  background-color: #F6F7F9 !important;
}

.my-bg-my-grey-950 {
  background-color: #262626 !important;
}

.my-bg-my-grey-900 {
  background-color: #313131 !important;
}

.my-bg-my-grey-800 {
  background-color: #383838 !important;
}

.my-bg-my-grey-700 {
  background-color: #434343 !important;
}

.my-bg-my-grey-600 {
  background-color: #515151 !important;
}

.my-bg-my-grey-500 {
  background-color: #666666 !important;
}

.my-bg-my-grey-400 {
  background-color: #818181 !important;
}

.my-bg-my-grey-300 {
  background-color: #A4A4A4 !important;
}

.my-bg-my-grey-200 {
  background-color: #C8C8C8 !important;
}

.my-bg-my-grey-100 {
  background-color: #E3E3E3 !important;
}

.my-bg-my-grey-50 {
  background-color: #F7F7F7 !important;
}

.my-bg-my-grey-0 {
  background-color: #FFFFFF !important;
}

.my-bg-my-success-950 {
  background-color: #0B2B08 !important;
}

.my-bg-my-success-900 {
  background-color: #1F4E19 !important;
}

.my-bg-my-success-800 {
  background-color: #255F1C !important;
}

.my-bg-my-success-700 {
  background-color: #29781D !important;
}

.my-bg-my-success-600 {
  background-color: #309920 !important;
}

.my-bg-my-success-500 {
  background-color: #47CB32 !important;
}

.my-bg-my-success-400 {
  background-color: #67D355 !important;
}

.my-bg-my-success-300 {
  background-color: #9BE78E !important;
}

.my-bg-my-success-200 {
  background-color: #C7F3BF !important;
}

.my-bg-my-success-100 {
  background-color: #E2FADE !important;
}

.my-bg-my-success-50 {
  background-color: #F4FCF1 !important;
}

.my-bg-my-errorNote-950 {
  background-color: #481007 !important;
}

.my-bg-my-errorNote-900 {
  background-color: #842718 !important;
}

.my-bg-my-errorNote-800 {
  background-color: #A02714 !important;
}

.my-bg-my-errorNote-700 {
  background-color: #C12C14 !important;
}

.my-bg-my-errorNote-600 {
  background-color: #E5381D !important;
}

.my-bg-my-errorNote-500 {
  background-color: #F8553B !important;
}

.my-bg-my-errorNote-400 {
  background-color: #FF735D !important;
}

.my-bg-my-errorNote-300 {
  background-color: #FFADA0 !important;
}

.my-bg-my-errorNote-200 {
  background-color: #FFCFC7 !important;
}

.my-bg-my-errorNote-100 {
  background-color: #FFE5E1 !important;
}

.my-bg-my-errorNote-50 {
  background-color: #FFF3F1 !important;
}

.my-text-my-primary-950 {
  color: #0B2846 !important;
}

.my-text-my-primary-900 {
  color: #10406A !important;
}

.my-text-my-primary-800 {
  color: #0C4B80 !important;
}

.my-text-my-primary-700 {
  color: #0A599A !important;
}

.my-text-my-primary-600 {
  color: #0A6FBF !important;
}

.my-text-my-primary-500 {
  color: #178DE0 !important;
}

.my-text-my-primary-400 {
  color: #4FAFF1 !important;
}

.my-text-my-primary-300 {
  color: #82C5F7 !important;
}

.my-text-my-primary-200 {
  color: #BDDFFA !important;
}

.my-text-my-primary-100 {
  color: #E1EFFD !important;
}

.my-text-my-primary-50 {
  color: #F1F8FE !important;
}

.my-text-my-secondary-950 {
  color: #1D1F25 !important;
}

.my-text-my-secondary-900 {
  color: #363A44 !important;
}

.my-text-my-secondary-800 {
  color: #3C4250 !important;
}

.my-text-my-secondary-700 {
  color: #464D5E !important;
}

.my-text-my-secondary-600 {
  color: #565F73 !important;
}

.my-text-my-secondary-500 {
  color: #6B768C !important;
}

.my-text-my-secondary-400 {
  color: #8993A7 !important;
}

.my-text-my-secondary-300 {
  color: #B3B9C6 !important;
}

.my-text-my-secondary-200 {
  color: #D6D9E1 !important;
}

.my-text-my-secondary-100 {
  color: #EDEEF1 !important;
}

.my-text-my-secondary-50 {
  color: #F6F7F9 !important;
}

.my-text-my-grey-950 {
  color: #262626 !important;
}

.my-text-my-grey-900 {
  color: #313131 !important;
}

.my-text-my-grey-800 {
  color: #383838 !important;
}

.my-text-my-grey-700 {
  color: #434343 !important;
}

.my-text-my-grey-600 {
  color: #515151 !important;
}

.my-text-my-grey-500 {
  color: #666666 !important;
}

.my-text-my-grey-400 {
  color: #818181 !important;
}

.my-text-my-grey-300 {
  color: #A4A4A4 !important;
}

.my-text-my-grey-200 {
  color: #C8C8C8 !important;
}

.my-text-my-grey-100 {
  color: #E3E3E3 !important;
}

.my-text-my-grey-50 {
  color: #F7F7F7 !important;
}

.my-text-my-grey-0 {
  color: #FFFFFF !important;
}

.my-text-my-success-950 {
  color: #0B2B08 !important;
}

.my-text-my-success-900 {
  color: #1F4E19 !important;
}

.my-text-my-success-800 {
  color: #255F1C !important;
}

.my-text-my-success-700 {
  color: #29781D !important;
}

.my-text-my-success-600 {
  color: #309920 !important;
}

.my-text-my-success-500 {
  color: #47CB32 !important;
}

.my-text-my-success-400 {
  color: #67D355 !important;
}

.my-text-my-success-300 {
  color: #9BE78E !important;
}

.my-text-my-success-200 {
  color: #C7F3BF !important;
}

.my-text-my-success-100 {
  color: #E2FADE !important;
}

.my-text-my-success-50 {
  color: #F4FCF1 !important;
}

.my-text-my-errorNote-950 {
  color: #481007 !important;
}

.my-text-my-errorNote-900 {
  color: #842718 !important;
}

.my-text-my-errorNote-800 {
  color: #A02714 !important;
}

.my-text-my-errorNote-700 {
  color: #C12C14 !important;
}

.my-text-my-errorNote-600 {
  color: #E5381D !important;
}

.my-text-my-errorNote-500 {
  color: #F8553B !important;
}

.my-text-my-errorNote-400 {
  color: #FF735D !important;
}

.my-text-my-errorNote-300 {
  color: #FFADA0 !important;
}

.my-text-my-errorNote-200 {
  color: #FFCFC7 !important;
}

.my-text-my-errorNote-100 {
  color: #FFE5E1 !important;
}

.my-text-my-errorNote-50 {
  color: #FFF3F1 !important;
}

.my-border-my-primary-950 {
  border-color: #0B2846 !important;
}

.my-border-my-primary-900 {
  border-color: #10406A !important;
}

.my-border-my-primary-800 {
  border-color: #0C4B80 !important;
}

.my-border-my-primary-700 {
  border-color: #0A599A !important;
}

.my-border-my-primary-600 {
  border-color: #0A6FBF !important;
}

.my-border-my-primary-500 {
  border-color: #178DE0 !important;
}

.my-border-my-primary-400 {
  border-color: #4FAFF1 !important;
}

.my-border-my-primary-300 {
  border-color: #82C5F7 !important;
}

.my-border-my-primary-200 {
  border-color: #BDDFFA !important;
}

.my-border-my-primary-100 {
  border-color: #E1EFFD !important;
}

.my-border-my-primary-50 {
  border-color: #F1F8FE !important;
}

.my-border-my-secondary-950 {
  border-color: #1D1F25 !important;
}

.my-border-my-secondary-900 {
  border-color: #363A44 !important;
}

.my-border-my-secondary-800 {
  border-color: #3C4250 !important;
}

.my-border-my-secondary-700 {
  border-color: #464D5E !important;
}

.my-border-my-secondary-600 {
  border-color: #565F73 !important;
}

.my-border-my-secondary-500 {
  border-color: #6B768C !important;
}

.my-border-my-secondary-400 {
  border-color: #8993A7 !important;
}

.my-border-my-secondary-300 {
  border-color: #B3B9C6 !important;
}

.my-border-my-secondary-200 {
  border-color: #D6D9E1 !important;
}

.my-border-my-secondary-100 {
  border-color: #EDEEF1 !important;
}

.my-border-my-secondary-50 {
  border-color: #F6F7F9 !important;
}

.my-border-my-grey-950 {
  border-color: #262626 !important;
}

.my-border-my-grey-900 {
  border-color: #313131 !important;
}

.my-border-my-grey-800 {
  border-color: #383838 !important;
}

.my-border-my-grey-700 {
  border-color: #434343 !important;
}

.my-border-my-grey-600 {
  border-color: #515151 !important;
}

.my-border-my-grey-500 {
  border-color: #666666 !important;
}

.my-border-my-grey-400 {
  border-color: #818181 !important;
}

.my-border-my-grey-300 {
  border-color: #A4A4A4 !important;
}

.my-border-my-grey-200 {
  border-color: #C8C8C8 !important;
}

.my-border-my-grey-100 {
  border-color: #E3E3E3 !important;
}

.my-border-my-grey-50 {
  border-color: #F7F7F7 !important;
}

.my-border-my-grey-0 {
  border-color: #FFFFFF !important;
}

.my-border-my-success-950 {
  border-color: #0B2B08 !important;
}

.my-border-my-success-900 {
  border-color: #1F4E19 !important;
}

.my-border-my-success-800 {
  border-color: #255F1C !important;
}

.my-border-my-success-700 {
  border-color: #29781D !important;
}

.my-border-my-success-600 {
  border-color: #309920 !important;
}

.my-border-my-success-500 {
  border-color: #47CB32 !important;
}

.my-border-my-success-400 {
  border-color: #67D355 !important;
}

.my-border-my-success-300 {
  border-color: #9BE78E !important;
}

.my-border-my-success-200 {
  border-color: #C7F3BF !important;
}

.my-border-my-success-100 {
  border-color: #E2FADE !important;
}

.my-border-my-success-50 {
  border-color: #F4FCF1 !important;
}

.my-border-my-errorNote-950 {
  border-color: #481007 !important;
}

.my-border-my-errorNote-900 {
  border-color: #842718 !important;
}

.my-border-my-errorNote-800 {
  border-color: #A02714 !important;
}

.my-border-my-errorNote-700 {
  border-color: #C12C14 !important;
}

.my-border-my-errorNote-600 {
  border-color: #E5381D !important;
}

.my-border-my-errorNote-500 {
  border-color: #F8553B !important;
}

.my-border-my-errorNote-400 {
  border-color: #FF735D !important;
}

.my-border-my-errorNote-300 {
  border-color: #FFADA0 !important;
}

.my-border-my-errorNote-200 {
  border-color: #FFCFC7 !important;
}

.my-border-my-errorNote-100 {
  border-color: #FFE5E1 !important;
}

.my-border-my-errorNote-50 {
  border-color: #FFF3F1 !important;
}

/*rwd*/
/*輸入欄位*/
.my-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  background-color: #F7F7F7;
  overflow: hidden;
}

.my-input-text {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  margin: 0 8px 0 16px;
  color: #3C4250;
}
.my-input-text::-moz-placeholder {
  color: #3C4250;
}
.my-input-text::placeholder {
  color: #3C4250;
}
.my-input-text:focus {
  outline: none;
  color: #1D1F25;
}
.my-input-text:hover {
  color: #1D1F25;
}

.my-input-btn-text {
  cursor: pointer;
  font-size: 13px;
  line-height: 120%;
  padding: 0 16px 0 16px;
  margin: 0 4px 0 0;
  border-radius: 100px;
  height: 32px;
  color: #3C4250;
  background-color: #EDEEF1;
  transition: 0.5s;
}
.my-input-btn-text:hover {
  background-color: #FFFFFF;
}

.my-input-btn-icon {
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.my-input-btn-icon .iconBox svg {
  width: 24px;
  height: 24px;
}

.my-input-btn-icon-r6 {
  border-radius: 6px 6px 6px 6px !important;
}

.my-input-btn-icon-r100 {
  border-radius: 100px 100px 100px 100px !important;
}

.my-input-btn-icon-secondary {
  background-color: #EDEEF1;
}
.my-input-btn-icon-secondary:hover {
  background-color: #D6D9E1;
}
.my-input-btn-icon-secondary .iconBox svg.icon_forward path {
  fill: #565F73;
}

.my-input-btn-icon-primary {
  background-color: #4FAFF1;
}
.my-input-btn-icon-primary:hover {
  background-color: #178DE0;
}

@media (max-width: 768px) {
  .my-input-btn-icon-primary-sm {
    background-color: #4FAFF1 !important;
  }
  .my-input-btn-icon-primary-sm:hover {
    background-color: #178DE0 !important;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .my-input-btn-icon-primary-sm .iconBox .icon_forward path {
    fill: #fff !important;
  }
}

.my-d-inlineBlock {
  display: inline-block !important;
}

.my-d-flex {
  display: flex !important;
}

.my-hide {
  display: none !important;
}

.my-show {
  display: block !important;
}

.my-d-block {
  display: block !important;
}

.my-d-none {
  display: none !important;
}

@media (max-width: 768px) {
  .my-hide-md {
    display: none !important;
  }
  .my-show-md {
    display: block !important;
  }
  .my-d-flex-md {
    display: flex !important;
  }
}
@media (max-width: 570px) {
  .my-hide-sm {
    display: none !important;
  }
  .my-show-sm {
    display: block !important;
  }
  .my-d-flex-sm {
    display: flex !important;
  }
  .my-d-block-sm {
    display: block !important;
  }
}
.my-justify-content-start {
  justify-content: flex-start !important;
}

.my-justify-content-end {
  justify-content: flex-end !important;
}

.my-justify-content-center {
  justify-content: center !important;
}

.my-justify-content-between {
  justify-content: space-between !important;
}

.my-justify-content-around {
  justify-content: space-around !important;
}

.my-justify-content-evenly {
  justify-content: space-evenly !important;
}

@media (max-width: 900px) {
  .my-justify-content-start-lg {
    justify-content: flex-start !important;
  }
  .my-justify-content-end-lg {
    justify-content: flex-end !important;
  }
  .my-justify-content-center-lg {
    justify-content: center !important;
  }
  .my-justify-content-between-lg {
    justify-content: space-between !important;
  }
  .my-justify-content-around-lg {
    justify-content: space-around !important;
  }
  .my-justify-content-evenly-lg {
    justify-content: space-evenly !important;
  }
}
@media (max-width: 768px) {
  .my-justify-content-start-md {
    justify-content: flex-start !important;
  }
  .my-justify-content-end-md {
    justify-content: flex-end !important;
  }
  .my-justify-content-center-md {
    justify-content: center !important;
  }
  .my-justify-content-between-md {
    justify-content: space-between !important;
  }
  .my-justify-content-around-md {
    justify-content: space-around !important;
  }
  .my-justify-content-evenly-md {
    justify-content: space-evenly !important;
  }
}
@media (max-width: 570px) {
  .my-justify-content-start-sm {
    justify-content: flex-start !important;
  }
  .my-justify-content-end-sm {
    justify-content: flex-end !important;
  }
  .my-justify-content-center-sm {
    justify-content: center !important;
  }
  .my-justify-content-between-sm {
    justify-content: space-between !important;
  }
  .my-justify-content-around-sm {
    justify-content: space-around !important;
  }
  .my-justify-content-evenly-sm {
    justify-content: space-evenly !important;
  }
}
.my-flex-row {
  flex-direction: row !important;
}

.my-flex-row-reverse {
  flex-direction: row-reverse !important;
}

.my-flex-column {
  flex-direction: column !important;
}

.my-flex-column-reverse {
  flex-direction: column-reverse !important;
}

@media (max-width: 1140px) {
  .my-flex-row-xl {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-xl {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-xl {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-xl {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 900px) {
  .my-flex-row-lg {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-lg {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-lg {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-lg {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 768px) {
  .my-flex-row-md {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-md {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-md {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-md {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 570px) {
  .my-flex-row-sm {
    flex-direction: row !important;
  }
  .my-flex-row-reverse-sm {
    flex-direction: row-reverse !important;
  }
  .my-flex-column-sm {
    flex-direction: column !important;
  }
  .my-flex-column-reverse-sm {
    flex-direction: column-reverse !important;
  }
}
.my-align-content-start {
  align-items: start !important;
}

.my-align-content-end {
  align-items: end !important;
}

.my-align-content-center {
  align-items: center !important;
}

.my-align-content-around {
  align-items: space-around !important;
}

.my-align-content-stretch {
  align-items: stretch !important;
}

@media (max-width: 570px) {
  .my-align-content-start-sm {
    align-items: start !important;
  }
  .my-align-content-end-sm {
    align-items: end !important;
  }
  .my-align-content-center-sm {
    align-items: center !important;
  }
  .my-align-content-around-sm {
    align-items: space-around !important;
  }
  .my-align-content-stretch-sm {
    align-items: stretch !important;
  }
}
.my-flex-wrap {
  flex-wrap: wrap !important;
}

.my-flex-nowrap {
  flex-wrap: nowrap !important;
}

.my-flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

@media (max-width: 570px) {
  .my-flex-wrap-sm {
    flex-wrap: wrap !important;
  }
  .my-flex-nowrap-sm {
    flex-wrap: nowrap !important;
  }
  .my-flex-wrap-reverse-sm {
    flex-wrap: wrap-reverse !important;
  }
}
.my-flex-1 {
  flex: 1 !important;
}

.my-flex-fill {
  flex: 1 1 auto !important;
  max-width: 100% !important;
}

.my-flex-grow-1 {
  flex-grow: 1 !important;
}

.my-flex-shrink-1 {
  flex-shrink: 1 !important;
}

.my-w50 {
  width: 50% !important;
}

.my-w100 {
  width: 100% !important;
}

.my-wmax100 {
  max-width: 100% !important;
}

.my-wauto {
  width: auto !important;
}

.my-h100 {
  height: 100% !important;
}

.my-hmin-initial {
  min-height: initial !important;
}

.my-vh-100 {
  height: 100vh !important;
}

.my-h-initial {
  height: initial !important;
}

.my-wmin-100px {
  min-width: 100px;
}

.my-w-initial {
  width: initial !important;
}

@media (max-width: 768px) {
  .my-flex-fill-md {
    flex: 1 1 auto !important;
    max-width: 100% !important;
  }
  .my-wmax100-md {
    max-width: 100% !important;
  }
  .my-w100-md {
    width: 100% !important;
  }
  .my-wauto-md {
    width: auto !important;
  }
}
@media (max-width: 570px) {
  .my-flex-fill-sm {
    flex: 1 1 auto !important;
    max-width: 100% !important;
  }
  .my-wmax100-sm {
    max-width: 100% !important;
  }
  .my-w100-sm {
    width: 100% !important;
  }
  .my-wauto-sm {
    width: auto !important;
  }
  .my-h-initial-sm {
    height: initial !important;
  }
}
.my-column-2 {
  width: 100% !important;
  max-width: 50% !important;
}

.my-column-3 {
  width: 100% !important;
  max-width: 33.3333333333% !important;
}

@media (max-width: 570px) {
  .my-column-1-sm {
    width: 100% !important;
    max-width: 100% !important;
  }
  .my-column-2-sm {
    width: 100% !important;
    max-width: 50% !important;
  }
  .my-column-3-sm {
    width: 100% !important;
    max-width: 33.3333333333% !important;
  }
  .my-column-4-sm {
    width: 100% !important;
    max-width: 25% !important;
  }
}
:root {
  --header-icon-color: #565F73;
  --header-icon-active-color: #363A44;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px 40px;
  z-index: 101;
  border-bottom: 1px solid #F7F7F7;
}
@media (max-width: 1140px) {
  #header {
    padding: 5px 16px;
  }
}
#header .header-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}
#header .header-container .header-navbar {
  display: flex;
  align-items: center;
  margin: 0 40px 0 0;
}
#header .header-container .header-navbar .header-navbar-icon {
  margin: 0 8px 0 0;
  line-height: 0;
}
@media (max-width: 570px) {
  #header .header-container .header-navbar .header-navbar-icon {
    margin: 0 6px 0 0;
  }
}
#header .header-container .header-navbar .header-navbar-icon .icon_menu {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
}
#header .header-container .header-navbar .header-navbar-icon .icon_menu svg {
  width: 24px;
  height: 24px;
}
#header .header-container .header-navbar .header-navbar-icon .icon_menu svg path {
  stroke: #565F73;
}
#header .header-container .header-navbar .header-logo {
  font-size: 0px;
}
#header .header-container .header-navbar .header-logo .icon_logo {
  line-height: initial;
  display: flex;
  align-items: center;
}
#header .header-container .header-navbar .header-logo .icon_logo img, #header .header-container .header-navbar .header-logo .icon_logo svg {
  width: auto;
  height: 28px;
}
#header .header-container .header-navbar .header-list-one {
  display: flex;
  align-items: center;
  height: 40px;
}
@media (max-width: 1400px) {
  #header .header-container .header-navbar .header-list-one {
    display: none;
  }
}
#header .header-container .header-navbar .header-list-one .header-item {
  margin: 0 0 0 40px;
  line-height: 0;
  position: relative;
}
#header .header-container .header-navbar .header-list-one .header-item .header-list-link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  display: block;
  line-height: 140%;
  color: #565F73;
}
#header .header-container .header-navbar .header-list-one .header-item .header-list-link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 0;
  max-width: 0;
  border-bottom: 2px solid #E3E3E3;
  transition: width 0.5s;
}
#header .header-container .header-navbar .header-list-one .header-item .header-list-link:hover::after {
  width: 100%;
  max-width: 100%;
}
#header .header-container .header-navbar .header-list-one .header-item .header-dropDown {
  position: absolute;
  top: 32px;
  left: 0px;
  padding: 8px 8px 8px 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  background-color: #FFFFFF;
  display: none;
}
#header .header-container .header-navbar .header-list-one .header-item .header-dropDown .header-list-second {
  height: auto;
  flex-direction: column;
}
#header .header-container .header-navbar .header-list-one .header-item .header-dropDown .header-list-second .header-item {
  margin: 0 0 0 0;
  text-align: left;
  width: 100%;
}
#header .header-container .header-navbar .header-list-one .header-item .header-dropDown .header-list-second .header-item .header-list-link {
  display: block;
  padding: 8px 8px 8px 8px;
  color: #464D5E;
  text-decoration: none;
  font-size: 13px;
  line-height: 140%;
  white-space: nowrap;
}
#header .header-container .header-navbar .header-list-one .header-item .header-dropDown .header-list-second .header-item .header-list-link:hover {
  background-color: #F6F7F9;
}
#header .header-container .header-navbar .header-list-one .header-item .header-dropDown .header-list-second .header-item .header-list-link::after {
  content: "";
  position: initial;
}
#header .header-container .header-navbar .header-list-one .header-item.active a::after {
  width: 100% !important;
  max-width: 100% !important;
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 0;
  max-width: 0;
  border-bottom: 2px solid #4FAFF1;
}
#header .header-container .header-search-login {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 101;
}
#header .header-container .header-search-login .header-dropDown {
  width: 100%;
  position: absolute;
  top: 48px;
  right: 0px;
  padding: 8px 8px 8px 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  background-color: #FFFFFF;
  display: none;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-dropDown {
    position: fixed;
    width: 100%;
    max-width: 100%;
    box-shadow: initial;
    padding: 0 0 0 0;
    border-radius: initial;
  }
}
#header .header-container .header-search-login .header-dropDown ul {
  width: 100%;
}
#header .header-container .header-search-login .header-dropDown ul li a {
  display: block;
  padding: 8px 8px 8px 8px;
  color: #464D5E;
  text-decoration: none;
  font-size: 14px;
  line-height: 140%;
  white-space: nowrap;
}
#header .header-container .header-search-login .header-dropDown ul li a:hover {
  background-color: #F6F7F9;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-dropDown ul li a {
    padding: 10px 16px 10px 16px;
  }
}
#header .header-container .header-search-login .header-search {
  width: 360px;
  min-height: 40px;
  position: relative;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-search {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 50px;
    background: #FFFFFF;
    padding: 16px 16px 16px 16px;
    display: none;
  }
}
#header .header-container .header-search-login .header-search .header-search-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 8px;
  border-radius: 100px;
  overflow: hidden;
  background-color: #F7F7F7;
  border: 1px solid transparent;
}
#header .header-container .header-search-login .header-search .header-search-box:hover {
  border: 1px solid #A4A4A4;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-search .header-search-box {
    padding: 4px 4px 4px 16px;
  }
}
#header .header-container .header-search-login .header-search .header-search-box .iconBox {
  margin: 0 0 0 0;
}
#header .header-container .header-search-login .header-search .header-search-box .iconBox .icon_search {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-search .header-search-box .iconBox .icon_search {
    display: none;
  }
}
#header .header-container .header-search-login .header-search .header-search-box .input {
  position: absolute;
  flex: 1;
  margin: 0 0 0 8px;
  width: calc(100% - 24px);
  margin: 0 0 0 24px;
  background-color: transparent;
  height: 100%;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-search .header-search-box .input {
    margin: 0 0 0 0;
    width: 100%;
  }
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox {
  height: 100%;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox input[type=search] {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  flex: 1;
  font-size: 16px;
  transform: scale(0.85);
  transform-origin: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox input[type=search]:focus {
  outline: none;
  color: #313131;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox input[type=search]:hover {
  color: #313131;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox .textJump {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: transparent;
  overflow-x: hidden !important;
  font-weight: 200;
  height: 100%;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox .textJump .swiper {
  width: 100%;
  height: 30px;
  height: 100%;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox .textJump .swiper .swiper-slide {
  text-align: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-size: 13px;
}
#header .header-container .header-search-login .header-search .header-search-box .input .inputBox .textJump .swiper .swiper-slide p {
  color: #A4A4A4;
}
#header .header-container .header-search-login .header-search .header-search-box.border {
  border: 1px solid #A4A4A4;
}
#header .header-container .header-search-login .header-search .header-dropDown {
  width: 100%;
  max-width: 360px;
  padding: 16px 16px 16px 16px;
  border-radius: 16px;
  display: none;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-search .header-dropDown {
    display: block;
    position: initial;
    box-shadow: initial;
    border-radius: initial;
    max-width: initial;
    padding: 0 0 0 0;
    margin: 12px 0 0 0;
  }
}
#header .header-container .header-search-login .header-search .header-dropDown .header-keywords-title {
  font-weight: initial;
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 140%;
}
#header .header-container .header-search-login .header-search .header-dropDown .header-keywords-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#header .header-container .header-search-login .header-search .header-dropDown .header-keywords-list .header-keywords-item .header-keywords-link {
  background-color: #EDEEF1;
  padding: 6px 12px 6px 12px;
  border-radius: 100px;
  white-space: initial;
}
#header .header-container .header-search-login .header-search-mb {
  display: none;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-search-mb {
    display: block;
  }
}
#header .header-container .header-search-login .header-search-mb .iconBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
#header .header-container .header-search-login .header-search-mb .iconBox svg.icon_search {
  width: 24px;
  height: 24px;
}
#header .header-container .header-search-login .header-search-mb .iconBox.click svg.icon_search path {
  fill: #178DE0;
}
#header .header-container .header-search-login .header-login {
  position: relative;
  margin: 0 0 0 16px;
  border: 1px solid transparent;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login {
    margin: initial;
    border: none;
  }
}
#header .header-container .header-search-login .header-login .header-login-box .header-login-icon {
  cursor: pointer;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login .header-login-box .header-login-icon {
    display: none !important;
  }
}
#header .header-container .header-search-login .header-login .header-login-box .header-login-icon .iconBox {
  margin: 0 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header-container .header-search-login .header-login .header-login-box .header-login-icon .iconBox svg.icon_account {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login .header-login-box .header-login-icon .iconBox svg.icon_account {
    filter: initial;
  }
  #header .header-container .header-search-login .header-login .header-login-box .header-login-icon .iconBox svg.icon_account path {
    fill: #313131;
  }
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login .header-login-box .header-login-icon .iconBox svg.icon_account {
    margin: 0 0 0 0;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login .header-login-box .header-login-icon .text {
    display: none;
  }
}
#header .header-container .header-search-login .header-login-mb {
  display: none;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login-mb {
    display: block;
  }
}
#header .header-container .header-search-login .header-login-mb .iconBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
#header .header-container .header-search-login .header-login-mb .iconBox svg.icon_account {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login-mb .iconBox.click svg.icon_account path {
    fill: #178DE0;
  }
}
#header .header-container .header-search-login .header-login-mb .iconBox.click svg.icon_search path {
  fill: #178DE0;
}
#header .header-container .header-search-login .header-login-face {
  margin: 0 0 0 16px;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login-face {
    margin: 0 0 0 0;
  }
}
#header .header-container .header-search-login .header-login-face::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F8553B;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login-face::after {
    top: 7px;
    right: 7px;
    width: 4px;
    height: 4px;
  }
}
#header .header-container .header-search-login .header-login-face .header-login-face-box img {
  width: 40px;
  height: 40px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100px;
}
@media (max-width: 768px) {
  #header .header-container .header-search-login .header-login-face .header-login-face-box img {
    width: 24px;
    height: 24px;
  }
}

.header-search {
  width: 360px;
  min-height: 40px;
  position: relative;
}
@media (max-width: 768px) {
  .header-search {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 50px;
    background: #FFFFFF;
    padding: 16px 16px 16px 16px;
    display: none;
  }
}
.header-search .header-search-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 8px;
  border-radius: 100px;
  overflow: hidden;
  background-color: #F7F7F7;
  border: 1px solid transparent;
}
.header-search .header-search-box:hover {
  border: 1px solid #A4A4A4;
}
@media (max-width: 768px) {
  .header-search .header-search-box {
    padding: 4px 4px 4px 16px;
  }
}
.header-search .header-search-box .iconBox {
  margin: 0 0 0 0;
}
.header-search .header-search-box .iconBox .icon_search {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .header-search .header-search-box .iconBox .icon_search {
    display: none;
  }
}
.header-search .header-search-box .inputBox {
  position: relative;
  flex: 1;
  margin: 0 0 0 8px;
}
@media (max-width: 768px) {
  .header-search .header-search-box .inputBox {
    margin: 0 0 0 0;
  }
}
.header-search .header-search-box .inputBox input[type=search] {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  flex: 1;
  font-size: 16px;
  transform: scale(0.85);
  transform-origin: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
.header-search .header-search-box .inputBox input[type=search]:focus {
  outline: none;
  color: #313131;
}
.header-search .header-search-box .inputBox input[type=search]:hover {
  color: #313131;
}
.header-search .header-search-box .inputBox input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.header-search .header-search-box .inputBox .textJump {
  width: 100%;
  position: absolute;
  top: -3px;
  left: 0px;
  z-index: 5;
  background-color: transparent;
  overflow-x: hidden !important;
  font-weight: 200;
}
.header-search .header-search-box .inputBox .textJump .swiper {
  width: 100%;
  height: 30px;
}
.header-search .header-search-box .inputBox .textJump .swiper-slide {
  text-align: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.header-search .header-search-box .inputBox .textJump .swiper-slide p {
  color: #A4A4A4;
}
.header-search .header-search-box.border {
  border: 1px solid #A4A4A4;
}
.header-search .header-dropDown {
  width: 100%;
  max-width: 360px;
  padding: 16px 16px 16px 16px;
  border-radius: 16px;
  display: none;
}
@media (max-width: 768px) {
  .header-search .header-dropDown {
    display: block;
    position: initial;
    box-shadow: initial;
    border-radius: initial;
    max-width: initial;
    padding: 0 0 0 0;
    margin: 12px 0 0 0;
  }
}
.header-search .header-dropDown .header-keywords-title {
  font-weight: initial;
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 140%;
}
.header-search .header-dropDown .header-keywords-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.header-search .header-dropDown .header-keywords-list .header-keywords-item .header-keywords-link {
  background-color: #EDEEF1;
  padding: 6px 12px 6px 12px;
  border-radius: 100px;
  white-space: initial;
}

#ham {
  position: fixed;
  z-index: 150;
  bottom: 0px;
  left: -520px;
  width: 100%;
  height: 100%;
  max-width: 330px;
  transition: 0.5s;
}
@media (max-width: 570px) {
  #ham {
    max-width: 250px;
  }
}
#ham.show {
  left: 0 !important;
}
#ham .ham-container {
  height: 100%;
}
#ham .ham-container .ham-category.language {
  height: 100%;
  position: fixed;
  z-index: 250;
  bottom: 0px;
  left: -330px;
  width: 100%;
  max-width: 330px;
  transition: 0.3s;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category.language {
    max-width: 250px;
  }
}
#ham .ham-container .ham-category.language.show {
  left: 0px !important;
}
#ham .ham-container .ham-category {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0 0 0 0;
  height: 100%;
}
#ham .ham-container .ham-category .ham-menu-btn-close {
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: left;
  align-items: center;
}
#ham .ham-container .ham-category .ham-menu-btn-close .iconBox {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 8px;
}
#ham .ham-container .ham-category .ham-menu-btn-close .iconBox svg {
  width: 24px;
  height: 24px;
}
#ham .ham-container .ham-category .ham-menu-btn-return {
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
#ham .ham-container .ham-category .ham-menu-btn-return .iconBox {
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 8px;
}
#ham .ham-container .ham-category .ham-menu-btn-return .iconBox svg.icon_left {
  width: 24px;
  height: 24px;
}
#ham .ham-container .ham-category .ham-menu-one {
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 50px);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active {
  background-color: #EDEEF1;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg {
  --icon-active-color: var(--header-icon-active-color)!important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg *[fill=currentColor] {
  fill: var(--icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg *[stroke=currentColor] {
  stroke: var(--icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg rect[fill=currentColor] {
  fill: var(--icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg rect[stroke=currentColor] {
  stroke: var(--icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg circle[fill=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg line[fill=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg polyline[fill=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg polygon[fill=currentColor] {
  fill: var(--icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg circle[stroke=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg line[stroke=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg polyline[stroke=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox svg polygon[stroke=currentColor] {
  stroke: var(--icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .iconBox img {
  opacity: 1 !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconText .text {
  color: #363A44 !important;
  font-weight: 500;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-item.active a .iconBox svg.icon_down {
  width: 16px;
  height: 16px;
  color: var(--header-icon-active-color) !important;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list {
  overflow-y: auto;
  background-color: #FFFFFF;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar {
  width: 12px;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar {
    width: 6px;
  }
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar-button {
  height: 0px;
  background: transparent;
  border-radius: 4px;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar-track-piece {
  background: transparent;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #E3E3E3;
  border: 4px solid #FFFFFF;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar-thumb {
    border: 2px solid #FFFFFF;
  }
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: transparent;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item {
  border-bottom: 1px solid #EDEEF1;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item:hover {
  background-color: #EDEEF1;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link {
  font-size: 16px;
  line-height: 48px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link {
    line-height: 41px;
    font-size: 14px;
  }
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText {
  display: flex;
  align-items: center;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox {
  margin: 0 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg {
  width: 24px;
  height: 24px;
  --icon-color: var(--header-icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg *[fill=currentColor] {
  fill: var(--icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg *[stroke=currentColor] {
  stroke: var(--icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg rect[fill=currentColor] {
  fill: var(--icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg rect[stroke=currentColor] {
  stroke: var(--icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg circle[fill=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg line[fill=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg polyline[fill=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg polygon[fill=currentColor] {
  fill: var(--icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg circle[stroke=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg line[stroke=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg polyline[stroke=currentColor], #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox svg polygon[stroke=currentColor] {
  stroke: var(--icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .iconBox img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconText .text {
  color: rgba(54, 58, 68, 0.8);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-link .iconBox svg.icon_down {
  width: 16px;
  height: 16px;
  color: var(--header-icon-color);
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-second {
  padding: 4px 8px 12px 8px;
  display: none;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-second .ham-menu-item {
  border-bottom: initial;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-second .ham-menu-item .ham-menu-link {
  font-size: 14px;
  line-height: 36px;
  padding: 0 40px 0 40px;
  border-radius: 6px;
  color: #464D5E;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-second .ham-menu-item .ham-menu-link:hover {
  background-color: #FFFFFF;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-second .ham-menu-item .ham-menu-link {
    font-size: 13px;
    line-height: 34px;
  }
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-list .ham-menu-item .ham-menu-second .ham-menu-item .ham-menu-link.active {
  color: #178DE0;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language {
  width: 100%;
  max-width: 330px;
  padding: 16px 16px 16px 16px;
  background-color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-language {
    max-width: 262px;
  }
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item {
  width: 100%;
  max-width: 298px;
  border-radius: 100px;
  background-color: #F7F7F7;
  transition: 0.3s;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item:hover {
  background-color: #E3E3E3;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link {
  display: block;
  text-decoration: none;
  font-size: 13px;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link .iconText {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 8px 8px 8px;
  color: #515151;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link .iconText .iconBox {
  margin: 0 8px 0 0;
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link .iconText .iconBox svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link .iconText .text {
    display: none;
  }
}
#ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link .iconText .text-shortcode {
  display: none;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-category .ham-menu-one .ham-menu-language .ham-menu-item .ham-menu-link .iconText .text-shortcode {
    display: block;
  }
}
#ham .ham-container .ham-img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 283px;
  transform: translate(0, -50%);
}
@media (max-width: 570px) {
  #ham .ham-container .ham-img {
    left: 230px;
  }
}
#ham .ham-container .ham-img img {
  max-width: 300px;
  max-height: 360px;
}
@media (max-width: 570px) {
  #ham .ham-container .ham-img img {
    max-width: 190px;
    max-height: 210px;
  }
}

.my-member-menu {
  overflow-y: initial !important;
}
.my-member-menu .my-member-quick {
  min-height: initial !important;
  padding: 24px 4px 24px 24px;
  background-image: url(../img/member-quick.png);
}
.my-member-menu .my-member-quick .my-member-quickBox {
  max-height: 512px;
  overflow-y: auto;
}
.my-member-menu .my-member-quick .my-member-quickBox::-webkit-scrollbar {
  width: 6px;
}
@media (max-width: 570px) {
  .my-member-menu .my-member-quick .my-member-quickBox::-webkit-scrollbar {
    width: 2px;
  }
}
.my-member-menu .my-member-quick .my-member-quickBox::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
}
@media (max-width: 570px) {
  .my-member-menu .my-member-quick .my-member-quickBox::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
  }
}

#member_portrait .my-modal-m .my-modal-body-box p {
  margin: 0 !important;
  padding: 0 !important;
}/*# sourceMappingURL=header.css.map */