@charset "utf-8";

/* CSS Document 單一欄位 */

/* 單一帳號登入開始 */

.account_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
}

.account_container .country_code_selectbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-right: 10px;
    width: 100%;
    max-width: 0%;
    font-size: 14px;
    display: none;
}

.account_container .country_code_selectbar.active {
    animation-name: country_code_animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes country_code_animation {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 40%;
    }
}

.account_container .country_code_selectbar.hide {
    animation-name: country_code_hide_animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes country_code_hide_animation {
    0% {
        max-width: 40%;
    }
    100% {
        max-width: 0%;
    }
}

.account_container .account_textbox {
    padding: 0 15px 0 58px !important;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    background-image: url('https://image.mycard520.com/globalmycard/images/account.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
}

.account_container .account_textbox.phone {
    animation-name: account_phone;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-image: url('https://image.mycard520.com/globalmycard/images/account_phone.svg');
}

.account_container .account_textbox.mail {
    background-image: url('https://image.mycard520.com/globalmycard/images/account_mail.svg');
}

@keyframes account_phone {
    0% {
        max-width: 100%;
    }
    100% {
        max-width: 60%;
    }
}

.account_container .country_code_searchbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 40%;
    padding: 0 15px;
    height: 48px;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #ececec;
    box-sizing: border-box;
    display: none;
}

.account_container #countryList {
    position: absolute;
    top: 48px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 2;
    width: 40%;
    max-height: 131px;
    overflow: auto;
    text-align: left;
}

.account_container #countryList::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    background-color: #ddd;
}

.account_container #countryList::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ddd;
}

.account_container #countryList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaa;
}

.account_container #countryList li {
    margin: 0;
    padding: 3px 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.account_container #countryList li+li {
    border-top: none;
}

.account_container #countryList li:hover {
    background-color: #f3f3f3;
}

.account_container .country_code_searchbar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    background-image: url('https://image.mycard520.com/globalmycard/images/clear_search.svg');
    background-size: 24px;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* 單一帳號登入結束 */


/* 手機國碼搜尋開始 */

.phone_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
}

.phone_container .country_code_selectbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-right: 10px;
    width: 100%;
    max-width: 45%;
    font-size: 14px;
    display: none;
}

.phone_container .account_textbox {
    font-size: 14px;
    width: 100%;
    max-width: 100%;
}

.phone_container .country_code_searchbar {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 40%;
    padding: 0 15px;
    height: 48px;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #ececec;
    box-sizing: border-box;
    display: none;
}

/* 線上交易查詢，國碼欄位跑版設定 開始 */
.outer_invest{
    position: relative;
}

.phone_container .country_invest{
    position: absolute;
    top: 48px !important;
    width: 45% !important;
}


@media (max-width: 768px) {
    .phone_container .country_invest_searchbar{
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        width: 45% !important;
    }
}
/* 線上交易查詢，國碼欄位跑版設定 結束 */

/* 手機板搜尋欄位 */
@media (max-width: 768px) {
    .phone_container .country_code_searchbar {
    position: absolute;
    top: 50px;
    left: 35px;
    z-index: 2;
    width: 100%;
    max-width: 70%;
    padding: 0 15px;
    height: 48px;
    font-size: 14px;
    background-color: #FFF;
    /* border: 1px solid #ececec; */
    border-top:1px solid #ececec;
    border-left:1px solid #ececec;
    border-bottom:1px solid #ececec;
    border-right: none;
    box-sizing: border-box;
    display: none;
}
}

.phone_container #countryList {
    position: absolute;
    top: 98px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
    width: 45%;
    max-height: 165px;
    overflow: auto;
    text-align: left;
}

.phone_container #countryList::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    background-color: #ddd;
}

.phone_container #countryList::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ddd;
}

.phone_container #countryList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaa;
}

.phone_container #countryList li {
    margin: 0;
    padding: 3px 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.phone_container #countryList li+li {
    border-top: none;
}

.phone_container #countryList li:hover {
    background-color: #f3f3f3;
}

.phone_container .country_code_searchbar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    background-image: url('https://image.mycard520.com/globalmycard/images/clear_search.svg');
    background-size: 24px;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#member_register .register_form .phone_container .country_code_searchbar {
    max-width: 33.3%;
}

#member_register .register_form .phone_container #countryList {
    width: 100%;
    max-width: 33.3%;
}

/* 手機國碼搜尋結束 */

#member_login_two_column .container {
    max-width: 800px;
}

#member_login_two_column .login_form {
    padding: 30px;
    width: 60%;
    max-width: 100%;
    text-align: center;
    border: 1px solid #efefef;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 60px rgba(0,0,0,0.08);
}

#member_login_two_column h2 {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
}

#member_login_two_column .scan_box {
    margin-left: 15px;
    padding: 30px;
    width: calc(40% - 15px);
    text-align: center;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 60px rgba(0,0,0,0.08);
}

#member_login_two_column .scan_box .qrcode {
    position: relative;
    margin: 0 auto 10px;
    width: 136px;
    height: 136px;
    border: 1px solid #ececec;
    border-radius: 10px;
}

#member_login_two_column .scan_box .qrcode img {
    border-radius: 10px;
}

#member_login_two_column .scan_box .qrcode .qrcode_mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 10px;
}

#member_login_two_column .app_download {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: center;
}

#member_login_two_column .app_download a {
    display: block;
    width: 50%;
    margin: 0;
}

#member_login_two_column .app_download a:first-child {
    display: block;
    width: 50%;
    margin: 0 10px 0 0;
}

#member_login_two_column .login_form .btn {
    margin: 10px 0 0 0;
    height: 48px;
    line-height: 48px;
    padding: 0;
}

@media (max-width: 750px) {
    #member_login_two_column {
        height: auto;
    }

    #member_login_two_column .login_form {
        padding: 20px;
        width: 100%;
        border: none;
    }

    #member_login_two_column .login_form h2 {
        margin: 15px 0;
    }

    #member_login_two_column .scan_box {
        margin-left: 0;
        padding: 0 30px;
        width: 100%;
        border: none;
        background: none;
        box-shadow: none;
    }

    #member_login_two_column .scan_box .web {
        display: none;
    }

    #member_login_two_column .scan_box .app_download {
        border-top: 0;
        padding: 20px 0;
    }

    #member_login_two_column .app_download a {
        width: 50% !important;
        max-width: 120px;
    }

    #member_login_two_column .login_form .promotion {
        margin: 10px 0;
    }
}

/*會員登入雙欄結束*/

/*會員中心-登入頁結束*/

/*帳號驗證*/

#member_verification .input_mobile .textbox {
    margin: 0 10px 0 0;
    width: 35%;
}

#member_verification .input_mobile .btn_red {
    float: left;
    min-width: 25%;
    width: 25%;
    margin: 0;
    padding: 10px 0;
    height: 48px;
    font-size: 15px;
}

#member_verification .selectbar {
    margin: 0 2% 0 0;
    width: 40%;
    font-size: 16px;
    float: left;
}

#member_verification .input_mobile .textbox {
    margin: 0 2% 0 0;
    width: 31%;
}

#member_verification .phone_container .country_code_searchbar {
    max-width: 40%;
}

.phone_container #countryList {
    width: 39%;
}

@media (max-width: 768px) {.phone_container #countryList{
    width: 90%;
}}
@media (max-width: 690px) {.phone_container #countryList{
    width: 87%;
}}
@media (max-width: 600px) {.phone_container #countryList{
    width:85%
}}
@media (max-width: 530px) {.phone_container #countryList{
    width: 84%;
}}
@media (max-width: 480px) {.phone_container #countryList{
    width: 82%;
}}
@media (max-width: 430px) {.phone_container #countryList{
    width: 83%;
}}
@media (max-width: 414px) {.phone_container #countryList{
    width: 82%;
}}
@media (max-width: 412px) {.phone_container #countryList{
    width: 82%;
}}
@media (max-width: 390px) {.phone_container #countryList{
    width: 81%;
}}
@media (max-width: 380px) {.phone_container #countryList{
    width: 80%;
}}


#mycard_payment .otp-verify .btn_group .btn {
    margin: 30px 10px 40px;
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 5px;
}

@media screen and (max-width: 750px){
    #mycard_payment .otp-verify .btn_group .btn {
        width: inherit;
        margin: 30px 0 40px;
    }
}

/* 掃碼購 */

#mycard_payment .scan_barcode_content .barcode {
    margin: 10px;
}

#mycard_payment .scan_barcode_content .barcode img {
    margin: 0 auto 10px auto;
    padding: 5px;
    display: block;
    width: 80%;
    height: auto;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#mycard_payment .scan_barcode_content .barcode img:last-child {
    margin-bottom: 0;
}

#mycard_payment .scan_barcode_content p {
    margin: 0 10px 10px;
    padding: 10px 20px;
    font-size: 13px;
    background-color: #e7e7e7;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 130%;
}

#mycard_payment .scan_barcode_content p.danger {
    margin: 0 10px;
    background-color: transparent;
    text-align: center;
}

#mycard_payment .scan_barcode_content .btn_group .btn {
    margin: 10px 0;
    font-size: 13px;
    width: inherit;
    border-radius: 4px;
    padding: 10px 30px;
}

.payment_password {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    position: relative;
}

.payment_password .country_code_selectbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-right: 10px;
    width: 100%;
    max-width: 45%;
    font-size: 14px;
    display: none;
}

.payment_password .account_textbox {
    font-size: 14px;
    width: 100%;
    max-width: 100%;
}

.payment_password .country_code_searchbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 40%;
    padding: 0 15px;
    height: 48px;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #ececec;
    box-sizing: border-box;
    display: none;
}

/* 手機板搜尋欄位 */
@media (max-width: 768px) {
    .payment_password .country_code_searchbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 70%;
    padding: 0 15px;
    height: 48px;
    font-size: 14px;
    background-color: #FFF;
    /* border: 1px solid #ececec; */
    border-top:1px solid #ececec;
    border-left:1px solid #ececec;
    border-bottom:1px solid #ececec;
    border-right: none;
    box-sizing: border-box;
    display: none;
}
}

.payment_password #countryList {
    position: absolute;
    top: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
    width: 45%;
    max-height: 165px;
    overflow: auto;
    text-align: left;
}


@media (max-width: 768px) {
    .payment_password #countryList {
        top: 48px;
    }
}

.payment_password #countryList::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    background-color: #ddd;
}

.payment_password #countryList::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ddd;
}

.payment_password #countryList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaa;
}

.payment_password #countryList li {
    margin: 0;
    padding: 3px 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.payment_password #countryList li+li {
    border-top: none;
}

.payment_password #countryList li:hover {
    background-color: #f3f3f3;
}

.payment_password .country_code_searchbar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    background-image: url('https://image.mycard520.com/globalmycard/images/clear_search.svg');
    background-size: 24px;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#member_register .register_form .payment_password .country_code_searchbar, #member_payment_pw .member_payment_pw_form .country_code_searchbar {
    max-width: 33%;
}

#member_register .register_form .payment_password #countryList, #member_payment_pw .member_payment_pw_form .payment_password #countryList {
    width: 100%;
    max-width: 33%;
}

@media (max-width: 768px) {
    #member_register .register_form .payment_password .country_code_searchbar, #member_register .register_form .payment_password #countryList, #member_payment_pw .member_payment_pw_form .country_code_searchbar, #member_payment_pw .member_payment_pw_form .payment_password #countryList {
        max-width: 47%;
    }
}

/*Payment 點卡儲值會員扣點開始*/

#payment .phone_container .account_textbox {
    width: 100%;
    padding: 0 15px 0 58px !important;
    width: 100%;
    background-image: url('https://image.mycard520.com/globalmycard/images/account.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
}

#payment .phone_container .account_textbox.phone {
    animation-name: account_phone;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-image: url('https://image.mycard520.com/globalmycard/images/account_phone.svg');
}

#payment .phone_container .account_textbox.mail {
    background-image: url('https://image.mycard520.com/globalmycard/images/account_mail.svg');
}

#payment #MyCardMemPW.password {
    background-image: url('https://image.mycard520.com/globalmycard/images/account_password.svg');
    background-size: 18px 18px;
    background-position: 16px center;
}

@keyframes account_phone {
    0% {
        max-width: 100%;
    }
    100% {
        max-width: 60%;
    }
}

#payment .phone_container #countryList {
    max-width: 40%;
}

#payment .phone_container #countryList li+li {
    margin: 0;
}

#payment  .account_container #countryList {
    width: 40%;
}

#payment .account_container #countryList li+li {
    margin: 0;
}

/*Payment 點卡儲值會員扣點結束*/

/*MyCard Payment結束*/

@media screen and (max-width:500px) {

    /*帳號驗證*/
    #member_verification .input_mobile .selectbar {
        margin: 0 2% 0 0;
        width: 48%;
        float: left;
    }
    #member_verification .input_mobile .textbox {
        width: 50%;
    }
    #member_verification .phone_container .country_code_searchbar {
        max-width: 35%;
    }
    #member_verification .phone_container #countryList {
        width: 35%;
    }
}

@media screen and (max-width:750px) {

    /*會員註冊*/
    #member_register .register_form .phone_container .country_code_searchbar {
        max-width: 48%; /*mobile*/
    }
    #member_register .register_form .phone_container #countryList {
        max-width: 48%; /*mobile*/
    }

}

@media screen and (max-width:500px) {
    #topup_visual {
        background-position: -5px top !important;
    }
    #topup_visual .text_box {
        margin: 0 auto;
        text-align: left;
        max-height: 222px;
        max-width: 1140px;
    }

    /*會員註冊*/
    #member_register .selectbar {
        margin: 0 2% 0 0;
        width: 48%;
        float: left;
    }
    #member_register .phone {
        width: 50%;
        float: left;
    }
}

/*- 首頁大輪播 -*/

.top_slick .slick-dots {
    z-index: 999;
}